<div>
    <app-page-header [heading]="'Danh sách thông báo người dùng'"
        [heading_second]="'Tạo mới danh sách thông báo người dùng'" [url_heading]="'/notifications'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="create" class="col-sm-5 col-form-label">Tên thông báo (<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input formControlName="title" class="form-control col-lg-12" placeholder="Tên thông báo" [ngClass]="{'is-invalid':submitted && Form.title?.errors}"/>
                       
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-5 col-form-label">Nội dung trong ứng dụng (<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <ckeditor style="object-fit: cover" maxlength="3000" (ngModelChange)="couttext()" placeholder="Nội dung..." [config]="ckConfig" formControlName="content" [ngClass]="{'is-invalid-ckeditor':submitted && Form.content?.errors}"></ckeditor>
                        <div *ngIf="submitted && Form.content.errors" class="invalid-feedback">
                            <div *ngIf="Form.content?.errors?.required">Nội dung trong ứng dụng là bắt buộc</div>
                            <div *ngIf="Form.content.hasError('whitespace')">Nội dung trong ứng dụng không hợp lệ</div>
                            <div *ngIf="Form.content.errors.maxlength">
                                Nội dung trong ứng dụng  dài hơn 3000 
                            </div> 
                        </div>
                        <div>
                            Nội dung dài {{dodaiNoidung}} /3000 kí tự
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="search" class="col-sm-5 col-form-label">Nội dung ngoài ứng dụng (<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <div>
                            <textarea formControlName="contentWOApp" maxlength="1000" rows="6" class="w-100 form-control" [ngClass]="{'is-invalid':submitted && Form.contentWOApp?.errors}" maxlength="1024"></textarea>
                            <i class="fa fa-smile-o smile-icon" [autoClose]="'outside'" [ngbPopover]="popContent" popoverClass="d-table"></i>
                        </div>
                        <div *ngIf="submitted && Form.contentWOApp.errors" class="invalid-feedback">
                            <div *ngIf="Form.contentWOApp?.errors?.required">Nội dung ngoài ứng dụng là bắt buộc</div>
                            <div *ngIf="Form.contentWOApp.hasError('whitespace')">Nội dung ngoài ứng dụng không hợp lệ</div>
                            <div *ngIf="Form.contentWOApp.errors.maxlength">
                                Nội dung ngoài ứng dụng  dài hơn 1000 kí tự
                              </div>
                        </div>
                        <ng-template #popContent>
                            <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                        </ng-template>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="create" class="col-sm-5 col-form-label">Cách thức lặp (<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select class="form-control" formControlName="repeatType" [ngClass]="{
                                'is-invalid':
                                    submitted && Form.repeatType?.errors
                            }">
                            <option *ngFor="let i of listNotifications" [value]="i.code" selected="selected">
                                {{ i.name }}
                            </option>
                        </select>
                        <div *ngIf="submitted && Form.repeatType?.errors" class="invalid-feedback">
                            <div *ngIf="Form.repeatType?.errors?.required">
                                Cách thức lặp là bắt buộc
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-5 col-form-label">Giá trị thời gian (<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7 input-group" *ngIf="
                            Form.repeatType.value === '0' ||
                            Form.repeatType.value === ''
                        ">
                        <input class="form-control" type="datetime-local" formControlName="repeatValue"
                            id="example-datetime-local-input" [ngClass]="{
                                'is-invalid': submitted && Form.repeatValue?.errors
                            }" />
                        <div *ngIf="submitted && Form.repeatValue?.errors" class="invalid-feedback">
                            <div *ngIf="Form.repeatValue?.errors?.required">
                                Giá trị lặp là bắt buộc
                            </div>
                        </div>
                    </div>

                    <div *ngIf="Form.repeatType.value === '1'" class="col-sm-7 input-group">
                        <input class="form-control" type="time" formControlName="repeatValue" [ngClass]="{
                                'is-invalid': submitted && Form.repeatValue?.errors
                            }" id="example-time-input" />
                        <div *ngIf="submitted && Form.repeatValue?.errors" class="invalid-feedback">
                            <div *ngIf="Form.repeatValue?.errors?.required">
                                Giá trị lặp là bắt buộc
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-7 input-group" *ngIf="Form.repeatType.value === '2'">
                        <select class="form-select form-control col-2" formControlName="repeatDay" aria-label="Default select example" [ngClass]="{'is-invalid': submitted && Form.repeatDay?.errors }">
                            <option selected>Chọn Thứ</option>
                            <option *ngFor="let date of listDay" [value]="date.code">{{date.value}}</option>
                        </select>
                        <input class="form-control" type="time" formControlName="repeatTime" [ngClass]="{
                            'is-invalid': submitted && Form.repeatTime?.errors
                        }" id="example-year-input" />
                        <div *ngIf="submitted && (Form.repeatTime?.errors || Form.repeatDay?.errors)" class="invalid-feedback">
                            <div *ngIf="Form.repeatTime?.errors?.required || Form.repeatDay?.errors?.required || Form.repeatDay?.errors?.pattern">
                                Giá trị lặp là bắt buộc
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-7 input-group" *ngIf="Form.repeatType.value === '3'">
                        <select class="form-select form-control col-2" formControlName="repeatDate" aria-label="Default select example" [ngClass]="{'is-invalid': submitted && Form.repeatDate?.errors }">
                            <option selected>Chọn Ngày</option>
                            <option *ngFor="let date of listDates" [value]="date.code">{{date.value}}</option>
                        </select>
                        <input class="form-control" type="time" formControlName="repeatTime" [ngClass]="{
                                'is-invalid': submitted && Form.repeatTime?.errors
                            }" id="example-month-input" />
                        <div *ngIf="submitted && (Form.repeatTime?.errors || Form.repeatDate?.errors)" class="invalid-feedback">
                            <div *ngIf="Form.repeatTime?.errors?.required || Form.repeatDate?.errors?.required || Form.repeatDate?.errors?.pattern">
                                Giá trị lặp là bắt buộc
                            </div>
                        </div>
                    </div>

                    <div  class="col-sm-7 input-group" *ngIf="Form.repeatType.value == '4'">
                        <select class="form-select form-control col-2" formControlName="repeatMonth" aria-label="Default select example" [ngClass]="{'is-invalid': submitted && Form?.repeatMonth?.errors }">
                            <option selected>Chọn Tháng</option>
                            <option *ngFor="let date of listMonth" [value]="date.code">{{date.value}}</option>
                        </select>
                        <select *ngIf="Form.repeatMonth.value == '02'" class="form-select form-control col-2" formControlName="repeatDate" aria-label="Default select example" [ngClass]="{'is-invalid': submitted && Form.repeatDate?.errors }">
                            <option selected>Chọn Ngày</option>
                            <option *ngFor="let date of listDates_28" [value]="date.code">{{date.value}}</option>
                        </select>
                        <select *ngIf="Form.repeatMonth.value == '01' || Form.repeatMonth.value == '03'|| Form.repeatMonth.value == '05'|| Form.repeatMonth.value == '07'
                        || Form.repeatMonth.value == '08'|| Form.repeatMonth.value == '10'|| Form.repeatMonth.value == '12'" class="form-select form-control col-2" formControlName="repeatDate" aria-label="Default select example" [ngClass]="{'is-invalid': submitted && Form.repeatDate?.errors }">
                            <option selected>Chọn Ngày</option>
                            <option *ngFor="let date of listDates" [value]="date.code">{{date.value}}</option>
                        </select>
                        <select *ngIf="Form.repeatMonth.value == '04'|| Form.repeatMonth.value == '06'|| Form.repeatMonth.value == '11'" class="form-select form-control col-2" formControlName="repeatDate" aria-label="Default select example" [ngClass]="{'is-invalid': submitted && Form.repeatDate?.errors }">
                            <option selected>Chọn Ngày</option>
                            <option *ngFor="let date of listDates_30" [value]="date.code">{{date.value}}</option>
                        </select>
                        <input class="form-control" type="time" formControlName="repeatTime" [ngClass]="{
                                'is-invalid': submitted && Form.repeatTime?.errors
                            }" id="example-year-input" />
                        <div *ngIf="submitted && (Form.repeatTime?.errors || Form.repeatMonth?.errors || (Form.repeatMonth.value != '09' && Form.repeatDate?.errors))" class="invalid-feedback">
                            <div *ngIf="Form.repeatTime?.errors?.required || Form.repeatMonth?.errors?.required 
                                || Form.repeatMonth?.errors?.pattern || (Form.repeatMonth.value != '09' && (Form.repeatDate?.errors?.pattern || Form.repeatDate?.errors?.required))">
                                Giá trị lặp là bắt buộc
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="create" class="col-sm-5 col-form-label">Đối tượng (<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select class="form-control" formControlName="objectUserType" [ngClass]="{'is-invalid': submitted && Form.objectUserType?.errors }">
                            <option *ngFor="let i of objectUserTypes" [value]="i.code" selected="selected">
                                {{ i.name }}
                            </option>
                        </select>
                        <div *ngIf="submitted && Form.objectUserType?.errors" class="invalid-feedback">
                            <div *ngIf="Form.objectUserType?.errors?.required">
                                Đối tượng áp dụng là bắt buộc
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngIf="Form.objectUserType.value === '1'">
                    <label for="create" class="col-sm-5 col-form-label">Danh sách được áp dụng:</label>
                    <div class="col-sm-7">
                        <a class="btn btn-primary" (click)="openModal(uploadMultiFile)">
                            <i class="fa fa-upload"></i>&nbsp;Tải lên danh sách
                        </a>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="create" class="col-sm-5 col-form-label">Trạng thái (<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select formControlName="status" class="form-control" [ngClass]="{'is-invalid':submitted && Form.status?.errors}">
                            <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">
                                {{ status.name }}</option>
                        </select>
                        <div *ngIf="submitted && Form.status?.errors" class="invalid-feedback">
                            <div *ngIf="Form.status?.errors?.required">
                                Trạng thái là bắt buộc
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <button type="submit" class="btn btn-success mr-3" [disabled]="isLoading">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại&nbsp;<i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
                        </button>
                        <button type="button" class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #uploadMultiFile let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="icon-plus"></i>
            Tải lên danh sách người dùng được áp dụng
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Crossclick')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h5>Bước 1:</h5>
                <span>Download template mẫu:
                    <a href="assets/template-excel/Template_Users_Notification.xlsx"><i>tại đây</i></a></span>
            </div>
            <div class="col-md-12 mt-3">
                <h5>Bước 2:</h5>
                <div>
                    <p-fileUpload #fubauto name="Excel" accept=".csv,.xlsx,.xls" customUpload="true" mode="basic"
                        maxFileSize="1000000" (uploadHandler)="onUploadFile($event)" auto="true"
                        iconLabel="fa-cloud-upload" chooseLabel="Chọn tệp tin"></p-fileUpload>
                    <p *ngIf="fileExcel.name" class="m-b-0 text-primary">
                        {{ fileExcel.name }}
                    </p>
                </div>
            </div>
            <div class="col-md-12 mt-3 text-right">
                <button [disabled]="!fileExcel.name || temp.loading" (click)="onUploadServer()" class="btn btn-primary"
                    type="submit">
                    <i class="fa fa-save"></i> Cập nhật
                    <i *ngIf="temp.loading" class="fa fa-spin fa-spinner"></i>
                </button>
            </div>
        </div>
    </div>
</ng-template>
