<div class="row">
    <div class="col-xl-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">
                <span *ngIf="!heading_second">{{heading}}</span>
                <a  *ngIf="heading_second" href="Javascript:void(0)" routerLink="{{url_heading}}">{{heading}}</a>
            </li>
            <li *ngIf="heading_second" class="breadcrumb-item active">{{heading_second}}</li>

        </ol>
    </div>
</div>
