<div>
    <app-page-header [heading]="'Banner - Hình ảnh'" [url_heading]="'/banner'"> </app-page-header>
    <!-- {{'Admin_function.DS_province' | translate}} -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã banner:</label>
                <!-- <div class="col-sm-6">
                    <input
                        class="form-control col-lg-12"
                        itrim
                        type="text"
                        id="search"
                        [(ngModel)]="re_search.bannerCode"
                        placeholder="Mã banner"
                    />
                </div> -->
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="re_search.bannerCode">
                        <option *ngFor="let status of listBanner" [value]="status.code" selected="selected">{{ status.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tên banner:</label>
                <div class="col-sm-6">
                    <input
                        class="form-control col-lg-12"
                        itrim
                        type="text"
                        id="search"
                        [(ngModel)]="re_search.bannerName"
                        placeholder="Tên banner"
                    />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="re_search.status">
                        <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{ status.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary mr-3" (click)="onSearch(re_search)"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
            <a class="btn btn-warning" [routerLink]="['/banner/create']"> <i class="fa fa-plus"></i>&nbsp;Thêm mới </a>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                <select class="form-control col-sm-2" [(ngModel)]="re_search.size" (change)="changePageSize()">
                    <option *ngFor="let page_size of listPageSize" [value]="page_size">{{ page_size }}</option>
                </select>
                &nbsp;
                <label for="search" class=" col-form-label">Bản ghi</label>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tìm kiếm:</label>
                <div class="col-sm-8">
                    <input (keydown)="search.page=1;keyDownFunction($event)" class="form-control col-lg-12"
                    itrim type="text" id="search" [(ngModel)]="search.keyword"
                    placeholder="Tìm kiếm">
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive Flipped">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col"
                            [class.active]="order === 'bannerCode'"
                            (click)="setOrder('bannerCode')"
                        >
                            Mã Banner
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col"
                            [class.active]="order === 'bannerName'"
                            (click)="setOrder('bannerName')"
                        >
                            Tên Banner
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col">Link Image</th>
                        <!-- <th scope="col">Link Url Vn</th> -->
                        <th scope="col">Link Url En</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Ngày giờ hiệu lực</th>
                        <th scope="col">Ngày giờ kết thúc</th>
                        <th scope="col">Phương thức show</th>
                        <th scope="col"
                            [class.active]="order === 'status'"
                            (click)="setOrder('status')"
                        >
                            Trạng thái
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isProcessLoad == 1" class="text-center">
                        <td colspan="11"><i class="fa fa-spin fa-spinner font-30"></i></td>
                    </tr>
                    <tr *ngIf="totalSearch == 0 && isProcessLoad == 0" class="text-center">
                        <td colspan="11">Không tìm thấy kết quả</td>
                    </tr>
                    <tr *ngFor="let data of listData | orderBy: order:reverse:'case-insensitive'; let i = index"
                        (click)="modalShowImage(data?.linkImg)"
                        style="cursor: pointer;"
                    >
                        <th scope="row">
                            {{ i + 1 }}  
                        </th>
                        <td>
                            <span *ngFor="let item of listBanner">
                                <span *ngIf="item?.code ===data?.bannerCode">{{item?.name}}</span>
                            </span>

                        </td>
                        <td>{{ data?.bannerName }}</td>
                        <td>
                            <img width="70" src="{{ data?.linkImg }}" alt="">
                            <br>
                            {{ data?.linkImg }}
                        </td>
                        <!-- <td>{{ data?.linkUrlVn }}</td> -->
                        <td>
                            <img width="70" src="{{ data?.linkUrlEn }}" alt="">
                            <br>
                            {{ data?.linkUrlEn }}
                        </td>
                        <td>{{ data?.createdDate }}</td>
                        <td>{{ data?.scheduleStart }}</td>
                        <td>{{ data?.scheduleEnd }}</td>
                        <td>
                            <span *ngIf="data?.oneTimeShow === 'Y'">Show một lần</span>
                            <span *ngIf="data?.oneTimeShow === 'N'">Show mãi mãi</span>
                        </td>

                        <td>
                            <span *ngIf="data?.status === 'A'" class="badge badge-success">Active</span>
                            <span *ngIf="data?.status === 'D'" class="badge badge-danger">Deactive</span>
                        </td>
                        <td>
                            <a class="mr-2 cursor-pointer text-blue" routerLink="/banner/edit/{{ data.id }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <!-- <span class="mr-2 cursor-pointer text-blue">
                                <i class="fa fa-lock"></i>
                            </span> -->
                            <!-- <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-unlock-alt"></i>
                            </span> -->
                            <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-trash" (click)="deleteItem(1, i, data.id)"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <ngb-pagination
                *ngIf="totalSearch > 0 && totalSearch > re_search"
                [pageSize]="re_search.size"
                [collectionSize]="totalSearch"
                [(page)]="re_search.page"
                [maxSize]="10"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
            >
            </ngb-pagination>
        </div>
    </div>
    <!-- /.row -->
</div>
<ng-template #showImage let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="icon-plus"></i>
            Hình ảnh banner
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Crossclick')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <img src="{{imageShow}}" alt="image" style="width: 100%;">
            </div>
        </div>
    </div>
</ng-template>
