<div>
    <app-page-header [heading]="'Danh mục ưu đãi'"> </app-page-header>
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tên ưu đãi:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12" (keydown)="keyDownFunction($event)"
                        [(ngModel)]="search.name" itrim type="text" id="search" placeholder=" Tên ưu đãi " />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="search.status">
                        <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">
                            {{ status.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Discount:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="search.discountType">
                        <option *ngFor="let discountType of listDiscounts" [value]="discountType.code"
                            selected="selected">
                            {{ discountType.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Trạng thái phê duyệt:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="search.approveStatus">
                        <option *ngFor="let approveStatus of listStatusApproved" [value]="approveStatus.code"
                            selected="selected">
                            {{ approveStatus.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Bắt đầu ưu đãi:</label>
                <div class="col-sm-6 input-group">
                    <input readonly class="form-control" placeholder="Từ ngày" name="dFS_1" ngbDatepicker
                        [(ngModel)]="mRatesDateS" type="date" itrim #dFS_1="ngbDatepicker" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="dFS_1.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Hết ưu đãi:</label>
                <div class="col-sm-6 input-group">
                    <input readonly class="form-control" placeholder="Đến ngày" name="dTS_1"
                        [(ngModel)]="mRatesDateS_7" type="date" itrim ngbDatepicker #dTS_1="ngbDatepicker" />

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="dTS_1.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary mr-3" (click)="onSearch(search)">
                <i class="fa fa-search"></i>&nbsp;Tìm kiếm
            </button>
            <a class="btn btn-warning" [routerLink]="['/qr-coupons/create']">
                <i class="fa fa-plus"></i>&nbsp;Thêm mới
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto" style="margin-left: auto;">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="background-color: white;">
                        <i (click)="onSearch(search)" class="fa fa-search"></i>
                    </div>
                </div>
                <input class="form-control col-lg-12" type="text" name="search" [(ngModel)]="search.search" itrim
                    type="text" id="search" placeholder=" Tìm kiếm " (keydown)="keyDownFunctionSearch($event)" />
            </div>
        </div>
    </div>

    <!-- list -->
    <div class="row mt-3">
        <div class="col-md-12 table-responsive Flipped">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col" [class.active]="order === 'title'" (click)="setOrder('title')">
                            Tên ưu đãi
                            <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                        </th>
                        <th scope="col" [class.active]="order === 'description'" (click)="setOrder('title')">
                            Mô tả
                            <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                        </th>
                        <th scope="col" [class.active]="order === 'code'" (click)="setOrder('code')">
                            Mã giảm giá
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col" [class.active]="order === 'objectUserType'"
                            (click)="setOrder('objectUserType')">
                            Áp dụng ưu đãi
                            <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                        </th>
                        <th scope="col" [class.active]="order === 'discount'"
                            (click)="setOrder('objectUserType')">
                            Discount
                            <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                        </th>
                        <!-- <th scope="col" [class.active]="order === 'service'" (click)="setOrder('discountType')">
                        Loại dịch vụ
                    </th> -->
                        <th scope="col" [class.active]="order === 'state_date'" (click)="setOrder('status')">
                            Ngày bắt đầu hiệu lực
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col" [class.active]="order === 'end_date'" (click)="setOrder('status')">
                            Ngày hết hiệu lực
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col" [class.active]="order === 'status'" (click)="setOrder('status')">
                            Trạng thái
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col" [class.active]="order === 'status_approved'"
                            (click)="setOrder('status')">
                            Trạng thái phê duyệt
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col" [class.active]="order === 'createBy'" (click)="setOrder('status')">
                            Người tạo
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th scope="col" [class.active]="order === 'updateAt'" (click)="setOrder('status')">
                            Ngày phê duyệt
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>

                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="isProcessLoad == 1" class="text-center">
                        <td colspan="14">
                            <i class="fa fa-spin fa-spinner font-30"></i>
                        </td>
                    </tr>
                    <tr *ngIf="totalSearch == 0 && isProcessLoad == 0" class="text-center">
                        <td colspan="14">Không tìm thấy kết quả</td>
                    </tr>
                    <tr *ngFor="let data of listData; let i = index">
                        <td scope="row">
                            {{ i + 1 }}
                        </td>

                        <td>{{ data?.name }}</td>
                        <td>{{ data?.description }}</td>
                        <td>{{ data?.code }}</td>
                        <td>
                            <span *ngIf="data?.objectUserType == '1'" class="badge badge-primary">Tất cả</span>
                            <span *ngIf="data?.objectUserType == '0'" class="badge badge-warning">Giới
                                hạn</span>
                        </td>
                        <td>
                            <span *ngIf="data?.discountType == '1'"
                                class="badge badge-info">{{ data?.amountPercentage }} %</span>
                            <span *ngIf="data?.discountType == '0'" class="badge badge-secondary">{{
                                    helper.currencyFormatDE(
                                        data?.amount
                                    )
                                }}
                                VND</span>
                        </td>
                        <td>
                            {{ helper.formatDate(data?.startDate) }}
                        </td>
                        <td>
                            {{ helper.formatDate(data?.endDate) }}
                        </td>
                        <td>
                            <span *ngIf="data?.status == 'A'" class="badge badge-success">Kích hoạt</span>
                            <span *ngIf="data?.status == 'D'" class="badge badge-danger">Chưa kích hoạt</span>
                        </td>
                        <td>
                            <span *ngIf="data?.approveStatus == '1'" class="badge badge-success">Chưa phê
                                duyệt</span>
                            <span *ngIf="data?.approveStatus == '0'" class="badge badge-danger">Phê duyệt</span>
                        </td>
                        <td>
                            {{ data?.createdBy }}
                        </td>
                        <td>
                            {{ data?.updatedAt }}
                        </td>
                        <td>
                            <a data-toggle="tool-tip" title="Chỉnh sửa" class="mr-2 cursor-pointer text-blue"
                                routerLink="/qr-coupons/edit/{{
                                    data.id
                                }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span data-toggle="tool-tip" title="Phê duyệt"
                                class="mr-2 cursor-pointer text-warning">
                                <i class="fa fa-check" (click)="approved()"></i>
                            </span>
                            <span data-toggle="tool-tip" title="Xóa" class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-trash" (click)="
                                        deleteItem(1, i, data.title)
                                    "></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <ngb-pagination *ngIf="totalSearch > 0 && totalSearch > search.size" [collectionSize]="totalSearch"
                [pageSize]="search.size" [(page)]="search.page" [boundaryLinks]="true" [maxSize]="10"
                (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>