<div>
    <app-page-header [heading]="'Thông tin Q&As'" [heading_second]="'Sửa Q&As'" [url_heading]="'/qas-info'"> </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã nhóm sản phẩm(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="productCode"
                            class="form-control col-lg-12"
                            placeholder="Mã nhóm sản phẩm"
                            [ngClass]="{ 'is-invalid': submitted && Form.productCode.errors }"
                        />
                        <div *ngIf="submitted && Form.productCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.productCode.errors.required">Mã nhóm sản phẩm là bắt buộc</div>
                            <div *ngIf="Form.productCode.hasError('whitespace')">Mã nhóm sản phẩm không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên nhóm sản phẩm(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="productName"
                            class="form-control col-lg-12"
                            placeholder="Tên nhóm sản phẩm"
                            [ngClass]="{ 'is-invalid': submitted && Form.productName.errors }"
                        />
                        <div *ngIf="submitted && Form.productName.errors" class="invalid-feedback">
                            <div *ngIf="Form.productName.errors.required">Tên nhóm sản phẩm là bắt buộc</div>
                            <div *ngIf="Form.productName.hasError('whitespace')">Tên nhóm sản phẩm không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Câu hỏi(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="question"
                            class="form-control col-lg-12"
                            placeholder="Câu hỏi"
                            [ngClass]="{ 'is-invalid': submitted && Form.question.errors }"
                        />
                        <div *ngIf="submitted && Form.question.errors" class="invalid-feedback">
                            <div *ngIf="Form.question.errors.required">Câu hỏi là bắt buộc</div>
                            <div *ngIf="Form.question.hasError('whitespace')">Câu hỏi không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Câu trả lời(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="answer"
                            class="form-control col-lg-12"
                            placeholder="Câu trả lời"
                            [ngClass]="{ 'is-invalid': submitted && Form.answer.errors }"
                        />
                        <div *ngIf="submitted && Form.answer.errors" class="invalid-feedback">
                            <div *ngIf="Form.answer.errors.required">Câu trả lời bắt buộc</div>
                            <div *ngIf="Form.answer.hasError('whitespace')">Câu trả lời không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Trạng thái(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="status" name="status">
                            <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{ status.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-success mr-3"><i class="fa fa-save"></i>&nbsp;Lưu lại</button>
                        <button class="btn btn-light" (click)="resetForm()"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
