<div>
    <app-page-header 
        [heading]="'Danh sách điều khoản'" 
        [heading_second]="'Sửa điều khoản'" 
        [url_heading]="'/provision'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên điều khoản(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input 
                            [(ngModel)]="obj.provisionName"
                            name="provisionName"
                            class="form-control col-lg-12"
                            placeholder="Tên điều khoản"
                        >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Nội dung(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <ckeditor [editor]="Editor"
                            name="provisionLink"
                            [(ngModel)]="obj.provisionLink"
                        ></ckeditor>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Trạng thái(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select class="form-control " [(ngModel)]="obj.status" name="status">
                            <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{status.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3" (click)="onSubmit()">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
