<div>
    <app-page-header
        [heading]="'Danh sách ngân hàng chuyển khoản'"
        [heading_second]="'Sửa ngân hàng chuyển khoản'"
        [url_heading]="'/bank-tranfer'"
    >
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã ngân hàng chuyển khoản(<span class="text-danger">*</span>):</label
                    >
                    <div class="col-sm-7">
                        <input
                            formControlName="bankCode"
                            [attr.disabled]="true"
                            class="form-control col-lg-12"
                            placeholder="Mã ngân hàng chuyển khoản"
                            [ngClass]="{ 'is-invalid': submitted && Form.bankCode.errors }"
                        />
                        <div *ngIf="submitted && Form.bankCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.bankCode.errors.required">Mã ngân hàng chuyển khoản là bắt buộc</div>
                            <div *ngIf="Form.bankCode.hasError('whitespace')">Mã ngân hàng chuyển khoản là không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên ngân hàng chuyển khoản(<span class="text-danger">*</span>):</label
                    >
                    <div class="col-sm-7">
                        <input
                            formControlName="bankName"
                            class="form-control col-lg-12"
                            placeholder="Tên ngân hàng chuyển khoản"
                            [ngClass]="{ 'is-invalid': submitted && Form.bankName.errors }"
                        />
                        <div *ngIf="submitted && Form.bankName.errors" class="invalid-feedback">
                            <div *ngIf="Form.bankName.errors.required">Tên ngân hàng chuyển khoản là bắt buộc</div>
                            <div *ngIf="Form.bankName.hasError('whitespace')">Tên ngân hàng chuyển khoản là không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Shtname:</label>
                    <div class="col-sm-7">
                        <input formControlName="shtname" class="form-control col-lg-12" placeholder="Shtname" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">bin:</label>
                    <div class="col-sm-7">
                        <input formControlName="bin" class="form-control col-lg-12" placeholder="Bin" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Citad_gt:</label>
                    <div class="col-sm-7">
                        <input formControlName="citad_gt" class="form-control col-lg-12" placeholder="Citad_gt" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Citad_tt:</label>
                    <div class="col-sm-7">
                        <input formControlName="citad_tt" class="form-control col-lg-12" placeholder="Citad_tt" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Trạng thái(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <select class="form-control" formControlName="status" disabled name="status">
                            <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{ status.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Hình ảnh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input
                                type="file"
                                class="custom-file-input"
                                id="inputGroupFile01"
                                placeholder="Hình ảnh"
                                type="file"
                                name="img"
                                accept="image/*"
                                (change)="handleFileInput($event.target.files, $event)"
                                aria-describedby="inputGroupFileAddon01"
                            />
                            <label *ngIf="tempNameImg === ''" class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            <label *ngIf="tempNameImg !== ''" class="custom-file-label" for="inputGroupFile01">{{tempNameImg}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Link logo:</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="url_img"
                             disabled
                            class="form-control col-lg-12"
                            placeholder="Link Url"
                            [ngClass]="{ 'is-invalid': submitted && Form.url_img.errors }"
                        />
                        <div *ngIf="submitted && Form.img_url.errors" class="invalid-feedback">
                            <div *ngIf="Form.url_img.errors.required">Link logo là bắt buộc</div>
                            <div *ngIf="Form.url_img.hasError('whitespace')">Link logo khộng hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i
                                class="fa
                                fa-save"
                            ></i
                            >&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <img style="border: 1px dashed #004e96;padding: 5px;" *ngIf="tempUrl === ''" src="assets/images/preiview-img.jpg" height=200 width=200/>
            <img style="border: 1px dashed #004e96;padding: 5px;"  *ngIf="tempUrl !== ''" [src]="tempUrl" height="200" width=200>
        </div>
    </div>
</div>
