<div>
        <app-page-header 
            [heading]="'Hình ảnh thẻ'" 
            [heading_second]="'Thêm mới hình ảnh'" 
            [url_heading]="'/image-paycard'">
        </app-page-header>
        <div class="row">
            <div class="col-md-8">
                <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="search" class="col-sm-4 col-form-label">Tên hình ảnh thẻ(<span class="text-danger">*</span>):</label>
                        <div class="col-sm-8">
                            <input
                                formControlName="fileName"
                                class="form-control col-lg-12"
                                placeholder="Tên hình ảnh thẻ"
                                [ngClass]="{ 'is-invalid': submitted && Form.fileName.errors }"
                            />
                            <div *ngIf="submitted && Form.fileName.errors" class="invalid-feedback">
                                <div *ngIf="Form.fileName.errors.required">Tên hình ảnh thẻ là bắt buộc</div>
                                <div *ngIf="Form.fileName.hasError('whitespace')">Tên hình ảnh thẻ không hợp lệ</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="search" class="col-sm-4 col-form-label">Hình ảnh(<span class="text-danger">*</span>):</label>
                        <div class="col-sm-8">
                            <div class="custom-file">
                                <input
                                    type="file"
                                    class="custom-file-input"
                                    id="inputGroupFile01"
                                    placeholder="Hình ảnh"
                                    type="file"
                                    name="img"
                                    accept="image/*"
                                    (change)="handleFileInput($event.target.files, $event)"
                                    aria-describedby="inputGroupFileAddon01"
                                />
                                <label *ngIf="tempNameImg === ''" class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                <label *ngIf="tempNameImg !== ''" class="custom-file-label" for="inputGroupFile01">{{tempNameImg}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="search" class="col-sm-4 col-form-label">Link Url</label>
                        <div class="col-sm-8">
                            <input
                                formControlName="linkUrl"
                                class="form-control col-lg-12"
                                placeholder="Link Url"
                                [ngClass]="{ 'is-invalid': submitted && Form.linkUrl.errors }"
                            />
                            <div *ngIf="submitted && Form.linkUrl.errors" class="invalid-feedback">
                                <div *ngIf="Form.linkUrl.errors.required">Link Url là bắt buộc</div>
                                <div *ngIf="Form.linkUrl.hasError('whitespace')">Link Url khộng hợp lệ</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="search" class="col-sm-4 col-form-label">Mô tả(<span class="text-danger">*</span>):</label>
                        <div class="col-sm-8">
                            <textarea
                                formControlName="note"
                                class="form-control col-lg-12"
                                placeholder="Mô tả"
                                [ngClass]="{ 'is-invalid': submitted && Form.note.errors }"
                            ></textarea>
                            <div *ngIf="submitted && Form.note.errors" class="invalid-feedback">
                                <div *ngIf="Form.note.errors.required">Mô tả là bắt buộc</div>
                                <div *ngIf="Form.note.hasError('whitespace')">Mô tả không hợp lệ</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <button
                                [disabled]="isLockSave"
                                class="btn btn-success
                                mr-3"
                            >
                                <i class="fa fa-save"></i>&nbsp;Lưu lại
                            </button>
                            <button class="btn btn-light" (click)="resetForm()"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                        </div>
                    </div>
                </form>
    
            </div>
            <div class="col-md-4">
                <img style="border: 1px dashed #004e96;padding: 5px;" *ngIf="tempUrl === ''" src="assets/images/preiview-img.jpg" height=200 width=200/>
                <img style="border: 1px dashed #004e96;padding: 5px;"  *ngIf="tempUrl !== ''" [src]="tempUrl" height="200" width=200>
            </div>
        </div>
    </div>
    