<div>
    <app-page-header [heading]="'Danh sách thông báo người dùng'"> </app-page-header>
    <div>
        <div class="row">
            <!-- search -->
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="search.status">
                            <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">
                                {{ status.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Kiểu lặp:</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="search.repeatType">
                            <option *ngFor="let repeatType of listRepeatValue" [value]="repeatType.code" selected="selected">
                                {{ repeatType.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Đối tượng áp dụng:</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="search.objectUserType">
                            <option *ngFor="let objectUserType of listObjectUserType" [value]="objectUserType.code" selected="selected">
                                {{ objectUserType.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Từ ngày:</label>
                    <div class="col-sm-6 input-group">
                        <input readonly class="form-control" placeholder="Từ ngày" name="dFS_1" ngbDatepicker
                            [(ngModel)]="mRatesDateS" type="date" itrim #dFS_1="ngbDatepicker" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dFS_1.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Đến ngày:</label>
                    <div class="col-sm-6 input-group">
                        <input readonly class="form-control" placeholder="Từ ngày" name="dFS_1" ngbDatepicker
                            [(ngModel)]="mRatesDateS_7" type="date" itrim #dFS_1="ngbDatepicker" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dFS_1.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary mr-3" (click)="onSearch(search)">
                    <i class="fa fa-search"></i>&nbsp;Tìm kiếm
                </button>
                <a class="btn btn-warning" [routerLink]="['/notifications/create']">
                    <i class="fa fa-plus"></i>&nbsp;Thêm mới
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-auto" style="margin-left: auto;">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="background-color: white;">
                            <i (click)="onSearch(search)" class="fa fa-search"></i>
                        </div>
                    </div>
                    <input class="form-control col-lg-12" type="text" name="search" [(ngModel)]="search.search" itrim
                        type="text" id="search" placeholder=" Tìm kiếm " (keydown)="keyDownFunctionSearch($event)" />
                </div>
            </div>
        </div>

        <!-- list -->
        <div class="row mt-3">
            <div class="col-md-12 table-responsive Flipped">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col" [class.active]="order === 'title'" (click)="setOrder('title')">
                                Tên thông báo
                                <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                            </th>
                            <th scope="col" [class.active]="order === 'content'" (click)="setOrder('content')">
                                Nội dung
                                <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                            </th>
                            <th scope="col" [class.active]="order === 'repeat_type'" (click)="setOrder('repeat_type')">
                                Cách thức lặp
                                <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                            </th>
                            <th scope="col" [class.active]="order === 'objectUserType'"
                                (click)="setOrder('objectUserType')">
                                Đối tượng áp dụng
                                <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                            </th>
                            <th scope="col" [class.active]="order === 'type'" (click)="setOrder('type')">
                                Loại thông báo
                                <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                            </th>
                            <!-- <th scope="col" [class.active]="order === 'service'" (click)="setOrder('discountType')">
                        Loại dịch vụ
                    </th> -->
                            <th scope="col" [class.active]="order === 'status'" (click)="setOrder('status')">
                                Trạng thái
                                <!-- <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span> -->
                            </th>

                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngIf="isProcessLoad == 1" class="text-center">
                            <td colspan="8">
                                <i class="fa fa-spin fa-spinner font-30"></i>
                            </td>
                        </tr>
                        <tr *ngIf="totalSearch == 0 && isProcessLoad == 0" class="text-center">
                            <td colspan="8">Không tìm thấy kết quả</td>
                        </tr>
                        <tr *ngFor="let data of listData; let i = index">
                            <td scope="row">
                                {{ i + 1 }}
                            </td>

                            <td>{{ data?.title }}</td>
                            <td>{{ data?.content }}</td>
                            <td>
                                <span *ngIf="data?.repeatType == '0'" class="badge badge-primary">Chỉ một lần</span>
                                <span *ngIf="data?.repeatType == '1'" class="badge badge-warning">Hàng ngày</span>
                                <span *ngIf="data?.repeatType == '2'" class="badge badge-danger">Hàng tuần</span>
                                <span *ngIf="data?.repeatType == '3'" class="badge badge-info">Hàng tháng</span>
                                <span *ngIf="data?.repeatType == '4'" class="badge badge-default">Hàng năm</span>
                            </td>
                            <td>
                                <span *ngIf="data?.objectUserType == '0'" class="badge badge-primary">Tất cả người
                                    dùng</span>
                                <span *ngIf="data?.objectUserType == '1'" class="badge badge-warning">Giới hạn</span>

                            </td>
                            <td>
                                {{ data?.type }}
                            </td>
                            <td>
                                <span *ngIf="data?.status == 'A'" class="badge badge-primary">Active</span>
                                <span *ngIf="data?.status == 'D'" class="badge badge-danger">Deactive</span>
                            </td>
                            <td>
                                <a data-toggle="tool-tip" title="Chỉnh sửa" class="mr-2 cursor-pointer text-blue"
                                    routerLink="/notifications/edit/{{
                                    data.id
                                }}">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <span data-toggle="tool-tip" title="Xóa" class="mr-2 cursor-pointer text-danger">
                                    <i class="fa fa-trash" (click)="
                                        deleteItem(1, i, data.id)
                                    "></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <ngb-pagination *ngIf="totalSearch > 0 && totalSearch > search.size" [collectionSize]="totalSearch"
                    [pageSize]="search.size" [(page)]="search.page" [boundaryLinks]="true" [maxSize]="10"
                    (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </div>