<div>
    <app-page-header
        [heading]="'Danh sách nhà cung cấp thanh toán hoá đơn'"
        [heading_second]="'Thêm nhà cung cấp thanh toán hoá đơn'"
        [url_heading]="'/bill-service'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Đối tác(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="partner"
                            class="form-control col-lg-12"
                            placeholder="Đối tác"
                            [ngClass]="{ 'is-invalid': submitted &&
                            Form.partner.errors }">
                        <!-- <select 
                            class="form-control" 
                            formControlName="optionServiceTTHD"
                            [ngClass]="{ 'is-invalid': submitted && Form.optionServiceTTHD.errors }"
                        >
                            <option>Tất cả</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select> -->
                        <div *ngIf="submitted && Form.partner.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.partner.errors.required">Loại
                                dịch vụ TTHD là bắt buộc</div>
                            <div *ngIf="Form.partner.errors.pattern">Loại
                                dịch vụ TTHD không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã dịch
                        vụ TTHD(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="providerCode"
                            class="form-control col-lg-12"
                            placeholder="Mã dịch vụ TTHD"
                            [ngClass]="{ 'is-invalid': submitted &&
                            Form.providerCode.errors }">
                        <div *ngIf="submitted && Form.providerCode.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.providerCode.errors.required">Mã
                                dịch vụ TTHD là bắt buộc</div>
                            <div *ngIf="Form.providerCode.errors.pattern">Mã
                                dịch vụ TTHD không hợp lệ</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã nhà
                        cung cấp TTHD(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            class="form-control col-lg-12"
                            placeholder="Mã nhà cung cấp TTHD"
                            formControlName="serviceCode"
                            [ngClass]="{ 'is-invalid': submitted &&
                            Form.serviceCode.errors }">
                        <div *ngIf="submitted &&
                            Form.serviceCode.errors"
                            class="invalid-feedback">
                            <div
                                *ngIf="Form.serviceCode.errors.required">Mã
                                nhà cung cấp TTHD là bắt buộc</div>
                            <div
                                *ngIf="Form.serviceCode.errors.pattern">Mã
                                nhà cung cấp TTHD không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên nhà
                        cung cấp TTHD(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            class="form-control col-lg-12"
                            placeholder="Tên nhà cung cấp TTHD VN"
                            formControlName="providerName"
                            [ngClass]="{ 'is-invalid': submitted &&
                            Form.providerName.errors }">
                        <div *ngIf="submitted && Form.providerName.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.providerName.errors.required">Tên
                                nhà cung cấp TTHD là bắt buộc</div>
                            <div *ngIf="Form.providerName.errors.pattern">Tên
                                nhà cung cấp TTHD không hợp lệ</div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
