/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
button:focus {outline:0;}
.ui-multiselect{
    width: 100%!important;
}

@media print {
    .breadcrumb {
        display: none !important;
    }
}
