<div>
    <app-page-header
        [heading]="'Gói sản phẩm'"
        [heading_second]="'Cấu hình phí gói sản phẩm'"
        [url_heading]="'/package'">
    </app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Gói sản phẩm:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                        itrim type="text" id="search"
                        [(ngModel)]="re_search.prdName"
                        (keydown)="keyDownFunction($event)"
                        placeholder="Gói sản phẩm">
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="re_search.status">
                        <option *ngFor="let status of listStatus"
                            [value]="status.code" selected="selected">{{status.name}}</option>
                    </select>
                </div>

            </div>
        </div> -->
        <div class="col-md-12 text-center">
            <button class="btn btn-primary mr-3" (click)="onSearch(re_search)">
                <i class="fa fa-search"></i>&nbsp;Tìm kiếm
            </button>
            <a class="btn btn-warning" [routerLink]="['/package-fee/create']">
                <i class="fa fa-plus"></i>&nbsp;Thêm mới
            </a>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                <select class="form-control col-sm-2"
                    [(ngModel)]="re_search.size" (change)="changePageSize()">
                    <option *ngFor="let page_size of listPageSize"
                        [value]="page_size">{{page_size}}</option>
                </select> &nbsp;
                <label for="search" class="col-form-label">Bản ghi</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive Flipped">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã gói sản phẩm</th>
                        <th scope="col">Gói sản phẩm</th>
                        <th scope="col">Product của tài khoản</th>

                        <th scope="col">Loại phí</th>
                        <th scope="col">Tiền tệ</th>
                        <th scope="col">Số tiền phí thu</th>
                        <th scope="col">Số tiền phí max</th>
                        <th scope="col">Số tiền phí min</th>
                        <!-- <th scope="col">Phần trăm thuế %</th> -->
                        <th scope="col">Mã phí</th>
                        <th scope="col">Ngừời tạo</th>
                        <th scope="col">Ngày tạo</th>
                        <!-- <th scope="col">Trạng thái</th> -->
                        <th scope="col">Thao tác</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isProcessLoad == 1" class="text-center">
                        <td colspan=14><i class="fa fa-spin fa-spinner font-30"></i></td>
                    </tr>
                    <tr *ngIf="totalSearch == 0 && isProcessLoad == 0"
                        class="text-center">
                        <td colspan=14>Không tìm thấy kết quả</td>
                    </tr>
                    <tr *ngFor="let data of listData; let i= index">

                        <th scope="row">
                            {{ i+1 }}
                        </th>
                        <td>{{data?.grprdId}}</td>
                        <td>{{data?.prdName}}</td>
                        <td>{{data?.prdCode}}</td>
                        <td>
                            <span *ngIf="data?.feeType === 'QLTK'">Phí thường niên theo tháng</span>
                            <span *ngIf="data?.feeType === 'SMS'">Phí thường niên SMS theo tháng</span>
                            <span *ngIf="data?.feeType === 'IBT'">CK liên ngân hàng</span>
                            <span *ngIf="data?.feeType === 'URT'">CK nội bộ</span>
                            <span *ngIf="data?.feeType === 'ISL'">CK 247</span>
                            <span *ngIf="data?.feeType === 'OW6'">Chuyển tiền vãng lai</span>

                        </td>
                        <td>{{data?.ccy}}</td>
                        <td>{{data?.feeAmount}}</td>
                        <td>{{data?.feeMax}}</td>
                        <td>{{data?.feeMin}}</td>
                        <td>{{data?.codeFee}}</td>
                        <td>{{data?.createdUser}}</td>
                        <td>{{data?.createdTime | date:'MM.dd.yyyy HH:mm'}}</td>


                        <!-- <td>
                            <span *ngIf="data?.status === 'A'" class="badge
                                badge-success">Active</span>
                            <span *ngIf="data?.status === 'D'" class="badge
                                badge-danger">Deactive</span>
                        </td> -->
                        <td>
                            <a class="mr-2 cursor-pointer text-blue"
                                routerLink="/package-fee/edit/{{data.id}}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <!-- <span class="mr-2 cursor-pointer text-blue">
                                <i class="fa fa-lock"></i>
                            </span> -->
                            <!-- <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-unlock-alt"></i>
                            </span> -->
                            <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-trash" (click)="deleteItem(1, i,
                                    data.id)"></i>
                            </span>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">

            <ngb-pagination
                *ngIf="totalSearch> 0 && totalSearch > re_search.page"
                [collectionSize]="totalSearch"
                [pageSize]="re_search.size"
                [(page)]="re_search.page" [maxSize]="10" [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
                >
            </ngb-pagination>
        </div>
    </div>
    <!-- /.row -->
</div>
