<div>
    <app-page-header [heading]="'Cấu hình và danh sách giới thiệu'">
    </app-page-header>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>Cấu hình giới thiệu</ng-template>
            <ng-template ngbTabContent>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <a
                            class="mr-2 cursor-pointer btn btn-warning"
                            routerLink="/invite-friends/create"
                        >
                            <i class="fa fa-plus"></i>
                            Tạo mới
                        </a>
                    </div>
                    <div class="col-md-12 table-responsive Flipped">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th
                                        scope="col"
                                        [class.active]="order === 'title'"
                                        (click)="setOrder('title')"
                                    >
                                        Tiêu đề
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>
                                    <th
                                        scope="col"
                                        [class.active]="order === 'instruction'"
                                        (click)="setOrder('instruction')"
                                    >
                                        Mô tả
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>
                                    <th
                                        scope="col"
                                        [class.active]="
                                            order === 'urlPromotion'
                                        "
                                        (click)="setOrder('urlPromotion')"
                                    >
                                        Đường dẫn promotion
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>
                                    <th
                                        scope="col"
                                        [class.active]="order === 'code'"
                                        (click)="setOrder('urlBanner')"
                                    >
                                        Đường dẫn banner
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>
                                    <th
                                        scope="col"
                                        [class.active]="
                                            order === 'objectUserType'
                                        "
                                        (click)="setOrder('objectUserType')"
                                    >
                                        Trạng thái
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>

                                    <th
                                        scope="col"
                                        [class.active]="order === 'createdAt'"
                                        (click)="setOrder('createdAt')"
                                    >
                                        Ngày tạo
                                    </th>
                                    <th scope="col" style="padding: 27px">
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr
                                    *ngIf="isProcessLoad == 1"
                                    class="text-center"
                                >
                                    <td colspan="9">
                                        <i
                                            class="fa fa-spin fa-spinner font-30"
                                        ></i>
                                    </td>
                                </tr>
                                <tr
                                    *ngIf="
                                        totalSearch == 0 && isProcessLoad == 0
                                    "
                                    class="text-center"
                                >
                                    <td colspan="9">Không tìm thấy kết quả</td>
                                </tr>
                                <tr
                                    *ngFor="let data of listData; let i = index"
                                >
                                    <td scope="row">
                                        {{ i + 1 }}
                                    </td>

                                    <td>{{ data?.title }}</td>
                                    <td>{{ data?.instruction }}</td>
                                    <td>{{ data?.urlPromotion }}</td>
                                    <td>{{ data?.urlBanner }}</td>
                                    <td>
                                        <span class="badge badge-success"
                                        *ngIf="data?.status === '1'">Hiệu lực</span>
                                    <span class="badge badge-danger"
                                        *ngIf="data?.status === '0'">Hết hiệu lực</span>
                                    </td>
                                    <td>
                                        <!-- {{ helper.formatDate(data?.createdAt) }} -->
                                        {{helper.formatFullDateTime(data?.createdAt)}}
                                    </td>
                                    <td>
                                        <a
                                            data-toggle="tool-tip"
                                            title="Chỉnh sửa"
                                            class="mr-2 cursor-pointer text-blue"
                                            routerLink="/invite-friends/edit/{{
                                                data.id
                                            }}"
                                        >
                                        <i class="fa fa-edit"></i>
                                        </a>
                                        <!-- <a  *ngIf="data?.status === '0'"
                                            data-toggle="tool-tip"
                                            title="Chỉnh sửa"
                                            class="mr-2 cursor-pointer text-blue"
                                            routerLink="/invite-friends/edit-dis/{{
                                                data.id
                                            }}"
                                        >
                                        <i class="fa fa-edit"></i>
                                        </a> -->
                                        <!-- <a *ngIf="data?.status == '0'" class="mr-2 text-gray" style="cursor: not-allowed;"> <i class="fa fa-edit"></i></a> -->
                                        <span
                                            data-toggle="tool-tip"
                                            title="Phê duyệt"
                                            class="mr-2 cursor-pointer text-warning"
                                        >
                                            <!-- <i class="fa fa-check" (click)="approved(data.id,data.approveStatus)"></i> -->
                                        </span>
                                        <span
                                            data-toggle="tool-tip"
                                            title="Xóa"
                                            class="mr-2 cursor-pointer text-danger"
                                        >
                                            <i
                                                class="fa fa-trash"
                                                (click)="
                                                    deleteItem(1, i, data.id)
                                                "
                                            ></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">

                        <ngb-pagination *ngIf="totalSearch> 0 && totalSearch > search_config.size" [collectionSize]="totalSearch"
                            [pageSize]="search_config.size" [(page)]="search_config.page" [maxSize]="10" [rotate]="true"
                            [boundaryLinks]="true" (pageChange)="loadPage($event)">
                        </ngb-pagination>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Danh sách giới thiệu</ng-template>
            <ng-template ngbTabContent>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="search" class="col-sm-4 col-form-label"
                                >Người giới thiệu</label
                            >
                            <div class="col-sm-6">
                                <input
                                    class="form-control col-lg-12"
                                    [(ngModel)]="search.rootUserCif"
                                    (keydown)="keyDownFunction($event)"
                                    itrim
                                    type="text"
                                    id="search"
                                    placeholder="Nhập cif người giới thiệu "
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="search" class="col-sm-4 col-form-label"
                                >Người được giới thiệu</label
                            >
                            <div class="col-sm-6">
                                <input
                                    class="form-control col-lg-12"
                                    [(ngModel)]="search.targetUserCif"
                                    (keydown)="keyDownFunction($event)"
                                    itrim
                                    type="text"
                                    id="search"
                                    placeholder=" Nhập cif người được giới thiệu "
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="search" class="col-sm-4 col-form-label"
                                >Từ ngày:</label
                            >
                            <div class="col-sm-6 input-group">
                                <input
                                    readonly
                                    class="form-control"
                                    placeholder="Từ ngày"
                                    [(ngModel)]="mRatesDateS"
                                    name="dFS"
                                    ngbDatepicker
                                    #dFS="ngbDatepicker"
                                />
                                <!-- (ngModelChange)="getOrder(search); -->
                                <!-- [(ngModel)]="mRatesDateS" -->
                                <div class="input-group-append">
                                    <button
                                        class="btn btn-outline-secondary"
                                        (click)="dFS.toggle()"
                                        type="button"
                                    >
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="search" class="col-sm-4 col-form-label"
                                >Đến ngày:</label
                            >
                            <div class="col-sm-6 input-group">
                                <input
                                    readonly
                                    class="form-control"
                                    placeholder="Đến ngày"
                                    name="dTS"
                                    [(ngModel)]="mRatesDateS_7"
                                    ngbDatepicker
                                    #dTS="ngbDatepicker"
                                />
                                <!-- (ngModelChange)="getOrder(search); -->
                                <!-- [(ngModel)]="mRatesDateS" -->
                                <div class="input-group-append">
                                    <button
                                        class="btn btn-outline-secondary"
                                        (click)="dTS.toggle()"
                                        type="button"
                                    >
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="search" class="col-sm-4 col-form-label">Trạng thái(<span class="text-danger">*</span>):</label>
                            <div class="col-sm-6">
                                <select class="form-control" [(ngModel)]="search.status" name="status">
                                    <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{ status.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <button
                            class="btn btn-primary mr-3"
                            (click)="onSearch(search)"
                        >
                            <i class="fa fa-search"></i>&nbsp;Tìm kiếm
                        </button>
                        <button class="btn btn-success" (click)="exportExcel()">
                            <i *ngIf="isProcessLoadExcel === 1" class="fa fa-spinner font-20"></i>
                            <i *ngIf="isProcessLoadExcel === 0" class="fa fa-file"></i>&nbsp;Xuất excel
                        </button>
                    </div>
                </div>

                <div class="row mt-50">
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                                <select class="form-control col-sm-2" [(ngModel)]="search.size" (change)="changePageSize()">
                                    <option *ngFor="let page_size of listPageSizeNCC" [value]="page_size">{{page_size}}</option>
                                </select> &nbsp;
                                <label for="search" class=" col-form-label">Bản ghi</label>  
                        </div>
                    </div> 
                </div>

                <div class="row"> 
                   
                    <div class="col-md-12 table-responsive Flipped">
                        
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th> 
                                    <th
                                        scope="col"
                                        [class.active]="order === 'createdAt'"
                                        (click)="setOrder('createdAt')"
                                    >
                                        Ngày
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>
                                    <th
                                    scope="col"
                                    [class.active]="order === 'createdAt'"
                                    (click)="setOrder('createdAt')"
                                >
                                    Company
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </th>
                                    <th
                                    scope="col"
                                    [class.active]="order === 'rootUserCif'"
                                    (click)="setOrder('rootUserCif')"
                                >
                                    Cif người được giới thiệu
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </th>
                                    <th
                                        scope="col"
                                        [class.active]="order === 'rootUserName'"
                                        (click)="setOrder('rootUserName')"
                                    >
                                        Tên người được giới thiệu
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>  
                                <th
                                    scope="col"
                                    [class.active]="order === 'rootUserCif'"
                                    (click)="setOrder('rootUserCif')"
                                >
                                    Cif người giới thiệu
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </th>
                                <th
                                scope="col"
                                [class.active]="order === 'targetUserName'"
                                (click)="setOrder('targetUserName')"
                            >
                                Tên người giới thiệu
                                <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                            </th>
                                    <th
                                        scope="col"
                                        [class.active]="order === 'targetUserCif'"
                                        (click)="setOrder('targetUserCif')"
                                    >
                                        Mã đối tác
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>
                                    <th
                                        scope="col"
                                        [class.active]="
                                            order === 'partnerCode'
                                        "
                                        (click)="setOrder('partnerCode')"
                                    >
                                        Mã Khuyến mãi
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>
                                    <th
                                        scope="col"
                                        [class.active]="
                                            order === 'promotionCode'
                                        "
                                        (click)="setOrder('promotionCode')"
                                    >
                                        Trạng thái
                                        <span [hidden]="reverse">▼</span>
                                        <span [hidden]="!reverse">▲</span>
                                    </th>
                                    
                                    
                                    <th
                                    scope="col"
                                    [class.active]="order === 'title'"
                                    (click)="setOrder('title')"
                                >
                                    Cấu hình giới thiệu
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </th>
                                <th scope="col" [class.active]="order === 'createdBy'" (click)="setOrder('createdBy')">
                                    Người tạo
                                    <span [hidden]="reverse">▼</span>
                                    <span [hidden]="!reverse">▲</span>
                                </th>


                                </tr>
                            </thead>

                            <tbody>
                                <tr
                                    *ngIf="isProcessLoadNCC == 1"
                                    class="text-center"
                                >
                                    <td colspan="12">
                                        <i
                                            class="fa fa-spin fa-spinner font-30"
                                        ></i>
                                    </td>
                                </tr>
                                <tr
                                    *ngIf="
                                        totalSearchNCC == 0 &&
                                        isProcessLoadNCC == 0
                                    "
                                    class="text-center"
                                >
                                    <td colspan="11">Không tìm thấy kết quả</td>
                                </tr>
                                <tr
                                    *ngFor="
                                        let data of listDataNCC;
                                        let i = index
                                    "
                                >
                                    <td scope="row">
                                        {{ i + 1 }}
                                    </td> 
                                    <td>{{ helper.formatFullDateTime(data?.createdAt) }}</td> 
                                    <td>{{data?.brnHold}}</td> 
                                    <td>{{ data?.rootUserCif }}</td>
                                    <td>{{ data?.rootUserName  }}</td>
                                    <td>{{ data?.targetUserCif }}</td>
                                    <td>{{ data?.targetUserName}}</td>  
                                    <td>{{ data?.partnerCode }}</td>
                                    <td>{{ data?.promotionCode }}</td>
                                    <td>
                                        <span class="badge badge-success" *ngIf="data.status === '1'">Thành công</span>
                                        <span class="badge badge-danger" *ngIf="data.status === '0'">Thất bại</span>
                                    </td> 
                                    <td>{{ findNameConfig(data?.referFriendConfigId)?.title }}</td>
                                    <td>{{ data?.createdBy }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3"> 
                    <div class="col-md-12"> 
                        <ngb-pagination *ngIf="totalSearchNCC> 0 && totalSearchNCC > search.size" [collectionSize]="totalSearchNCC"
                            [(page)]="search.page" [pageSize]="search.size"    [rotate]="true" [boundaryLinks]="true" 
                            (pageChange)="loadPageNCC($event)">
                        </ngb-pagination>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
