<div>
    <app-page-header [heading]="'Banner'" [heading_second]="'Sửa banner'" [url_heading]="'/banner'"> </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã banner(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="bannerCode" name="status">
                            <option *ngFor="let status of listBanner" [value]="status.code" selected="selected">{{ status.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên banner(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="bannerName"
                            class="form-control col-lg-12"
                            placeholder="Tên banner"
                            [ngClass]="{ 'is-invalid': submitted && Form.bannerName.errors }"
                        />
                        <div *ngIf="submitted && Form.bannerName.errors" class="invalid-feedback">
                            <div *ngIf="Form.bannerName.errors.required">Tên banner là bắt buộc</div>
                            <div *ngIf="Form.bannerName.hasError('whitespace')">Tên banner khộng hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Màn hình chuyển tiếp:</label>
                    <div class="col-sm-8">
                        <input
                            [ngClass]="{ 'is-invalid': submitted && Form.actionScreen.errors }"
                            formControlName="actionScreen"
                            class="form-control col-lg-12"
                            placeholder="Màn hình chuyển tiếp"
                        />
                        <div *ngIf="submitted && Form.actionScreen.errors" class="invalid-feedback">
                            <div *ngIf="Form.actionScreen.errors.required">Màn hình chuyển tiếp là bắt buộc</div>
                            <div *ngIf="Form.actionScreen.hasError('whitespace')">Màn hình chuyển tiếp khộng hợp lệ</div>
                            <div *ngIf="Form.actionScreen.errors.maxlength">Màn hình chuyển tiếp quá dài</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Hình ảnh hiện tại:</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="linkImg"
                            [attr.disabled]="true"
                            class="form-control col-lg-12"
                            placeholder="Hình ảnh hiện tại"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Thời gian bắt đầu(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8 input-group">
                        <input readonly class="form-control" placeholder="Thời gian bắt đầu"
                            name="dFS" ngbDatepicker #dFS="ngbDatepicker"
                            formControlName="scheduleStart"
                            > 
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dFS.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Thời gian kết thúc(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8 input-group">
                        <input readonly class="form-control" placeholder="Thời gian kết thúc"
                            name="dTS" ngbDatepicker #dTS="ngbDatepicker"
                            formControlName="scheduleEnd"
                            > 
                        
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dTS.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Phương thức show(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="oneTimeShow" name="status">
                            <option *ngFor="let status of listShow" [value]="status.code" selected="selected">{{ status.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Hình ảnh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input
                                type="file"
                                class="custom-file-input"
                                id="inputGroupFile01"
                                placeholder="Hình ảnh"
                                type="file"
                                name="img"
                                accept="image/*"
                                (change)="handleFileInput($event.target.files)"
                                aria-describedby="inputGroupFileAddon01"
                            />
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Trạng thái(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="status" name="status">
                            <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{ status.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <button
                            [disabled]="isLockSave"
                            class="btn btn-success
                            mr-3"
                        >
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
