<div>
    <app-page-header [heading]="'Khuyễn mãi/ ưu đãi'" [heading_second]="'Thêm mới khuyến mãi ưu đãi'" [url_heading]="'/promotion'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã chường trình(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="proCode"
                            class="form-control col-lg-12"
                            placeholder="Mã chương trình"
                            [ngClass]="{ 'is-invalid': submitted && Form.proCode.errors }"
                        />
                        <div *ngIf="submitted && Form.proCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.proCode.errors.required">Mã chương trình là bắt buộc</div>
                            <div *ngIf="Form.proCode.hasError('whitespace')">Mã chương trình không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên chường trình(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="proName"
                            class="form-control col-lg-12"
                            placeholder="Tên chương trình"
                            [ngClass]="{ 'is-invalid': submitted && Form.proName.errors }"
                        />
                        <div *ngIf="submitted && Form.proName.errors" class="invalid-feedback">
                            <div *ngIf="Form.proName.errors.required">Tên chương trình là bắt buộc</div>
                            <div *ngIf="Form.proName.hasError('whitespace')">Tên chương trình không hợp lệ</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Nội dung(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <textarea
                            formControlName="proDes"
                            class="form-control col-lg-12"
                            placeholder="Nội dung"
                            [ngClass]="{ 'is-invalid': submitted && Form.proDes.errors }"
                        ></textarea>

                        <div *ngIf="submitted && Form.proDes.errors" class="invalid-feedback">
                            <div *ngIf="Form.proDes.errors.required">Nội dung là bắt buộc</div>
                            <div *ngIf="Form.proDes.hasError('whitespace')">Nội dung chương trình không hợp lệ</div>
                        </div>
                    </div>
                </div>
              

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Từ ngày:</label>
                    <div class="col-sm-7 input-group">
                        <input
                            readonly
                            class="form-control"
                            placeholder="Từ
                            ngày"
                            name="dFS_1"
                            ngbDatepicker
                            #dFS_1="ngbDatepicker"
                            formControlName="fromDate"
                        />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dFS_1.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Đến ngày:</label>
                    <div class="col-sm-7 input-group">
                        <input
                            readonly
                            class="form-control"
                            placeholder="Đến ngày"
                            name="dTS_1"
                            ngbDatepicker
                            #dTS_1="ngbDatepicker"
                            formControlName="toDate"
                        />

                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dTS_1.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3"><i class="fa fa-save"></i>&nbsp;Lưu lại</button>
                        <button class="btn btn-light" (click)="resetForm()"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
