<div>
    <app-page-header [heading]="'Notify (in App)'" [heading_second]="'Thêm mới notify (in App)'" [url_heading]="'/notify'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="row form-group">
                    <label for="search" class="col-sm-4 col-form-label">Nhà cung cấp(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="provider" name="provider">
                            <option *ngFor="let status of listProvider" [value]="status" selected="selected">{{ status }}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="search" class="col-sm-4 col-form-label">Loại giao dịch(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="type" name="type">
                            <option *ngFor="let status of listType" [value]="status.code" selected="selected">{{ status.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Lỗi(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="error"
                            class="form-control col-lg-12"
                            placeholder="Lỗi"
                            [ngClass]="{ 'is-invalid': submitted && Form.error.errors }"
                        />
                        <div *ngIf="submitted && Form.error.errors" class="invalid-feedback">
                            <div *ngIf="Form.error.errors.required">Lỗi là bắt buộc</div>

                            <div *ngIf="Form.error.hasError('whitespace')">Lỗi không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã tin nhắn(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="msgCode"
                            class="form-control col-lg-12"
                            placeholder="Mã tin nhắn"
                            [ngClass]="{ 'is-invalid': submitted && Form.msgCode.errors }"
                        />
                        <div *ngIf="submitted && Form.msgCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.msgCode.errors.required">Mã tin nhắn là bắt buộc</div>

                            <div *ngIf="Form.msgCode.hasError('whitespace')">Mã tin nhắn không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã tin nhắn 1(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="msg_Code_1"
                            class="form-control col-lg-12"
                            placeholder="Mã tin nhắn 1"
                            [ngClass]="{ 'is-invalid': submitted && Form.msg_Code_1.errors }"
                        />
                        <div *ngIf="submitted && Form.msg_Code_1.errors" class="invalid-feedback">
                            <div *ngIf="Form.msg_Code_1.errors.required">Mã tin nhắn 1 là bắt buộc</div>

                            <div *ngIf="Form.msg_Code_1.hasError('whitespace')">Mã tin nhắn 1 không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tin nhắn Tiếng Việt(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="mes_Vn"
                            class="form-control col-lg-12"
                            placeholder="Tin nhắn Tiếng Việt"
                            [ngClass]="{ 'is-invalid': submitted && Form.mes_Vn.errors }"
                        />
                        <div *ngIf="submitted && Form.mes_Vn.errors" class="invalid-feedback">
                            <div *ngIf="Form.mes_Vn.errors.required">Tin nhắn Tiếng Việt là bắt buộc</div>

                            <div *ngIf="Form.mes_Vn.hasError('whitespace')">Tin nhắn Tiếng Việt không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tin nhắn Tiếng Anh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="mes_En"
                            class="form-control col-lg-12"
                            placeholder="Tin nhắn Tiếng Anh"
                            [ngClass]="{ 'is-invalid': submitted && Form.mes_En.errors }"
                        />
                        <div *ngIf="submitted && Form.mes_En.errors" class="invalid-feedback">
                            <div *ngIf="Form.mes_En.errors.required">Tin nhắn Tiếng Anh là bắt buộc</div>
                            <div *ngIf="Form.mes_En.hasError('whitespace')">Tin nhắn Tiếng Anh không đúng định dạng</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3"><i class="fa fa-save"></i>&nbsp;Lưu lại</button>
                        <button class="btn btn-light" (click)="resetForm()"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
