<div>
    <app-page-header 
        [heading]="'Danh sách nhà cung cấp thanh toán hoá đơn'" 
        [heading_second]="'Sửa nhà cung cấp thanh toán hoá đơn'" 
        [url_heading]="'/bill-service'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã dịch vụ TTHD(<span class="text-danger">*</span>):</label>
                <div class="col-sm-7">
                    <input class="form-control col-lg-12"
                    placeholder="Mã dịch vụ TTHD">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Chọn loại dịch vụ TTHD(<span class="text-danger">*</span>):</label>
                <div class="col-sm-7">
                    <select class="form-control" >
                        <option>Tất cả</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã nhà cung cấp TTHD(<span class="text-danger">*</span>):</label>
                <div class="col-sm-7">
                    <input class="form-control col-lg-12"
                    placeholder="Mã nhà cung cấp TTHD">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã nhà cung cấp NCB:</label>
                <div class="col-sm-7">
                    <input class="form-control col-lg-12"
                    placeholder="Mã nhà cung cấp NCB">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tên nhà cung cấp TTHD VN(<span class="text-danger">*</span>):</label>
                <div class="col-sm-7">
                    <input class="form-control col-lg-12"
                    placeholder="Tên nhà cung cấp TTHD VN">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tên nhà cung cấp TTHD EN:</label>
                <div class="col-sm-7">
                    <input class="form-control col-lg-12"
                    placeholder="Tên nhà cung cấp TTHD EN">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-7">
                    <button class="btn btn-success mr-3">
                        <i class="fa fa-save"></i>&nbsp;Lưu lại
                    </button>
                    <button class="btn btn-light">
                        <i class="fa fa-close"></i>&nbsp;Huỷ
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
    