<div>
    <app-page-header [heading]="'Danh sách chi nhánh'" [heading_second]="'Sửa
        chi nhánh'" [url_heading]="'/branch'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã chi nhánh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            [attr.disabled]="true"
                            formControlName="compCode"
                            class="form-control col-lg-12"
                            placeholder="Mã chi nhánh"
                            [ngClass]="{ 'is-invalid': submitted && Form.compCode.errors }"
                        />
                        <div *ngIf="submitted && Form.compCode.errors" class="invalid-feedback">
                            <div *ngIf="Form.compCode.errors.required">Mã chi nhánh là bắt buộc</div>
                            <div *ngIf="Form.compCode.hasError('whitespace')">Mã chi nhánh không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên chi nhánh(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="compName"
                            class="form-control col-lg-12"
                            placeholder="Tên chi nhánh"
                            [ngClass]="{ 'is-invalid': submitted && Form.compName.errors }"
                        />
                        <div *ngIf="submitted && Form.compName.errors" class="invalid-feedback">
                            <div *ngIf="Form.compName.errors.required">Tên chi nhánh là bắt buộc</div>
                            <div *ngIf="Form.compName.hasError('whitespace')">Tên chi nhánh không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Địa chỉ(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="address"
                            class="form-control col-lg-12"
                            placeholder="Địa chỉ"
                            [ngClass]="{ 'is-invalid': submitted && Form.address.errors }"
                        />
                        <div *ngIf="submitted && Form.address.errors" class="invalid-feedback">
                            <div *ngIf="Form.address.errors.required">Địa chỉ là bắt buộc</div>
                            <div *ngIf="Form.address.hasError('whitespace')">Địa chỉ không hợp lệ</div>
                        </div>
                    </div>
                </div> -->
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Dao:</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="dao"
                            class="form-control
                            col-lg-12"
                            placeholder="Dao"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mcn:</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="mcn"
                            class="form-control
                            col-lg-12"
                            placeholder="Mcn"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mp:</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="mp"
                            class="form-control
                            col-lg-12"
                            placeholder="Mp"
                        />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i
                                class="fa
                                fa-save"
                            ></i
                            >&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
