<div>
    <app-page-header 
        [heading]="'Gói sản phẩm'"
        [url_heading]="'/package'">
    </app-page-header>
    <!-- {{'Admin_function.DS_province' | translate}} -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã gói sản phẩm:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    itrim type="text" id="search"
                    [(ngModel)]="re_search.prd"
                    placeholder="Mã gói sản phẩm">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Loại chuyển phí:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="re_search.tranType">
                        <option *ngFor="let status of listTranType" [value]="status.code" selected="selected">{{status.name}}</option>

                    </select>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Kiểu loại:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="re_search.typeId">
                        <option *ngFor="let status of listTypeId" [value]="status.code" selected="selected">{{status.name}}</option>

                    </select>
                </div>
                
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="re_search.status">
                        <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{status.name}}</option>

                    </select>
                </div>
                
            </div>
        </div> 
        <div class="col-md-12 text-center">
            <button class="btn btn-primary mr-3" (click)="onSearch(re_search)">
                <i class="fa fa-search"></i>&nbsp;Tìm kiếm
            </button>
            <a class="btn btn-warning" [routerLink]="['/package/create']">
                <i class="fa fa-plus"></i>&nbsp;Thêm mới
            </a>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                    <select class="form-control col-sm-2" [(ngModel)]="re_search.size" (change)="changePageSize()">
                        <option *ngFor="let page_size of listPageSize" [value]="page_size">{{page_size}}</option>
                    </select> &nbsp;
                    <label for="search" class=" col-form-label">Bản ghi</label>  
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tìm kiếm:</label>
                <div class="col-sm-8">
                    <input (keydown)="search.page=1;keyDownFunction($event)" class="form-control col-lg-12"
                    itrim type="text" id="search" [(ngModel)]="search.keyword"
                    placeholder="Tìm kiếm">
                </div>
            </div>
        </div> -->

    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên gói sản phẩm</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Hạn mức / ngày</th>
                    <th scope="col">Hạn mức / faceid</th>
                    <th scope="col">Hạn mức / finger</th>
                    <th scope="col">Loại gói</th>
                    <th scope="col">Tỉ lệ (%)</th>
                    <th scope="col">Loại khách hàng</th>
                    <th scope="col">Tiền tệ</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thao tác</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isProcessLoad == 1" class="text-center">
                        <td colspan=12><i class="fa fa-spin fa-spinner font-30"></i></td>
                    </tr>
                    <tr *ngIf="totalSearch == 0 && isProcessLoad == 0" class="text-center">
                        <td colspan=12>Không tìm thấy kết quả</td>
                    </tr>
                    <tr *ngFor ="let data of listData; let i = index" (click)="openModalPackage(data)" style="cursor: pointer;">
                        
                        <th scope="row">
                            {{ i+1 }}
                        </th>
                        <td>{{data?.promotionName}}</td>
                        <td>{{data?.promotion}}</td>
                        <td>{{data?.limitDaily}}</td>
                        <td>{{data?.limitFaceid}}</td>
                        <td>{{data?.limitFinger}}</td>
                        <td>{{data?.prdName}}</td>
                        <td>{{data?.percentage}}</td>
                        <td>{{data?.customerType}}</td>
                        <td>{{data?.ccy}}</td>
                        <td>
                            <span *ngIf="data?.status === 'A'" class="badge badge-success">Active</span>
                            <span *ngIf="data?.status === 'D'" class="badge badge-danger">Deactive</span>
                        </td>
                        <td>
                            <a class="mr-2 cursor-pointer text-blue" routerLink="/package/edit/{{data.prd}}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-trash" (click)="deleteItem(1, i, data.prd)"></i>
                            </span>
                            
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div> 
    </div>

    <div class="row mt-3">
        <div class="col-md-12">

            <ngb-pagination
                *ngIf="totalSearch> 0 && totalSearch > re_search.page"
                [collectionSize]="totalSearch"
                [pageSize]="re_search.size"
                [(page)]="re_search.page" [maxSize]="10" [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
                >
            </ngb-pagination>
        </div>
    </div>
    <!-- /.row -->
</div>
<ng-template #modalPackage let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Gói sản phẩm</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-t-0">
        <div class="col-md-12">
            <form [formGroup]="dataForm">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã gói:</label>
                    <div class="col-sm-6">
                        <input
                            formControlName="prd"
                            class="form-control col-lg-12"
                            placeholder="Mã gói sản phẩm"
                            [ngClass]="{ 'is-invalid': submitted &&
                            Form.prd.errors }">
                        <div *ngIf="submitted && Form.prd.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.prd.errors.required">Mã sản phẩm là bắt buộc</div>
                            <div *ngIf="Form.prd.errors.pattern">Mã sản phẩm không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên gói sản phẩm:</label>
                    <div class="col-sm-6">
                        <input
                            formControlName="prdName"
                            class="form-control col-lg-12"
                            placeholder="Tên gói sản phẩm"
                            [ngClass]="{ 'is-invalid': submitted &&
                            Form.prdName.errors }">
                        <div *ngIf="submitted && Form.prdName.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.prdName.errors.required">Tên gói sản phẩm là bắt buộc</div>
                            <div *ngIf="Form.prdName.errors.pattern">Tên gói sản phẩm không hợp lệ</div>
                        </div>
                    </div>
                </div>
                
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Quản lý tính năng</ng-template>
                        <ng-template ngbTabContent>
                            <div class="row" style="padding-top: 30px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Chuyển khoản</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Chuyển khoản liên ngân hàng</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Chuyển tiền nhanh 24/7</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Chuyển khoản</label>
                                    </div>
                                </div>            
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Tiết kiệm</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Gửi tiết kiệm</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Tất toán tiết kiệm</label>
                                    </div>
                                </div>
                
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Thanh toán hoá đơn</label>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Nạp tiền</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Nạp tiền điện thoại</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Ví điện tử Airpay</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Nạp thẻ IZI</label>
                                    </div>
                                </div>
                
                            </div>
                            <div class="form-group row">
                                <label for="search" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary">Lưu</button>
                                    &nbsp;
                                    <button class="btn btn-default">Bỏ qua</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Quản lý hạn mức</ng-template>
                        <ng-template ngbTabContent>
                            <div class="row" style="padding-top: 30px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Chuyển khoản nội bộ</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">Hạn mức tối thiếu/giao dịch:</label>
                                        <input type="password" class="form-control" valule="50000" id="pwd">
                                        <p>Năm mươi nghìn đồng</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Hạn mức tối đa/giao dịch:</label>
                                        <input type="password" class="form-control" valule="10000000" id="pwd">
                                        <p>Một tỷ đồng</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Hạn mức tối đa/ngày:</label>
                                        <input type="password" class="form-control" valule="50000" id="pwd">
                                        <p>Năm mươi tỷ đồng</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Hạn mức giao dịch vân tay/FaceID:</label>
                                        <input type="password" class="form-control" valule="50000" id="pwd">
                                        <p>Năm mươi nghìn đồng</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Số lần giao dịch:</label>
                                        <input type="password" class="form-control" valule="20 lần" id="pwd">

                                    </div>
                                </div>
                
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Chuyển tiền liên ngân hàng</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Thanh toán hoá đơn</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Nạp tiền</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Gửi/tất tiết kiệm</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Thanh toán QRPay</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                    <label for="search" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary">Lưu</button>
                                        &nbsp;
                                        <button class="btn btn-default">Bỏ qua</button>
                                    </div>
                                </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab >
                        <ng-template ngbTabTitle>Quản lý phí dịch vụ</ng-template>
                        <ng-template ngbTabContent>
                            <div class="row" style="padding-top: 30px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Phí thường niên</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" valule="0" id="pwd">
                                        <p>Trên tháng</p>
                                    </div>
                                </div>
                
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Phí chuyển tiền nội bộ</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" valule="0" id="pwd">
                                        <p>Trên giao dịch</p>
                                    </div>
                                </div>
                
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Phí chuyển tiền liên ngân hàng</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" valule="0" id="pwd">
                                        <p>Trên giá trị giao dịch</p>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <p>Tối thiếu</p>
                                        <input type="password" class="form-control" valule="50000" id="pwd">
                                    </div>
                                    <div class="form-group">
                                        <p>Tối đa</p>
                                        <input type="password" class="form-control" valule="50000" id="pwd">
                                    </div>
                                </div>
                
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&nbsp;Phí chuyển tiền 24/7</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" valule="0" id="pwd">
                                        <p>Trên giao dịch</p>
                                    </div>
                                </div>
                
                            </div>
                            <div class="form-group row">
                                <label for="search" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary">Lưu</button>
                                    &nbsp;
                                    <button class="btn btn-default" (click)="d('Cross click')">Bỏ qua</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </form>
        </div>
    </div>
</ng-template>
