<div style="min-height: 100vh;">
    <app-page-header [heading]="'Gán mã khuyến mãi với sản phẩm'" [heading_second]="'Sửa gán mã khuyến mãi'" [url_heading]="'/promotion-package'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã chương trình khuyến mại(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <p-multiSelect
                            [options]="listTempProCode"
                            defaultLabel="Chọn giá trị"
                            formControlName="proCode"
                        >
                        </p-multiSelect>
                        <div *ngIf="submitted && Form.proCode.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.proCode.errors.required">Mã chương trình khuyến mại là bắt buộc</div>
                            <div *ngIf="Form.proCode.hasError('whitespace')">Mã chương trình khuyến mại không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã gói sản phẩm(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <p-multiSelect
                            [options]="listTempProd"
                            defaultLabel="Chọn giá trị"
                            formControlName="prd"
                        >
                        </p-multiSelect>
                        <div *ngIf="submitted && Form.prd.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.prd.errors.required">Mã gói sản phẩm là bắt buộc</div>
                            <div *ngIf="Form.prd.hasError('whitespace')">Mã gói sản phẩm không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Loại giao dịch(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="tranType" name="tranType" (change)="getConfigDetailTransaction()">
                            <option *ngFor="let data of listTranType" [value]="data.code" selected="selected" >{{data.name}}</option>
                        </select>
                        <div *ngIf="submitted && Form.tranType.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.tranType.errors.required">Loại giao dịch là bắt buộc</div>
                            <div *ngIf="Form.tranType.hasError('whitespace')">Loại giao dịch không hợp lệ</div>
                        </div>
                    </div>

                </div>
                
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Chi tiết loại giao dịch(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="typeId" name="typeId">
                            <option *ngFor="let data of listTypeId" [value]="data.code" selected="selected">{{data.name}}</option>
                        </select>
                        <div *ngIf="submitted && Form.typeId.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.typeId.errors.required">Chi tiết loại giao dịch là bắt buộc</div>
                            <div *ngIf="Form.typeId.hasError('whitespace')">Chi tiết loại giao dịch không hợp lệ</div>

                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Loại tiền tệ(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="ccy"
                            class="form-control col-lg-12"
                            placeholder="Loại tiền tệ"
                            [ngClass]="{ 'is-invalid': submitted && Form.ccy.errors }">
                        <div *ngIf="submitted && Form.ccy.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.ccy.errors.required">Loại tiền tệ là bắt buộc</div>
                            <div *ngIf="Form.ccy.hasError('whitespace')">Loại tiền tệ không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Phần trăm(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-8">
                        <input
                            formControlName="percentage"
                            class="form-control col-lg-12"
                            placeholder="Loại tiền tệ"
                            [ngClass]="{ 'is-invalid': submitted && Form.percentage.errors }">
                        <div *ngIf="submitted && Form.percentage.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.percentage.errors.required">Phần trăm là bắt buộc</div>
                            <div *ngIf="Form.percentage.hasError('whitespace')">Phần trăm không hợp lệ</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3"><i class="fa fa-save"></i>&nbsp;Lưu lại</button>
                        <button class="btn btn-light" (click)="resetForm()"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
