<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed:
    collapsed }">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>Trang chủ</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')" *ngIf="objRolesMatch.offQuanTri === false">
                <i class="fa fa-cogs"></i>&nbsp;
                <span>Quản trị</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu" *ngFor="let item of objRolesMatch.quanTri">
                    <li *ngIf="item.code === 'NGUOI_DUNG' && item.isAll ===
                        true">
                        <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-users"></i>&nbsp;
                            <span>Người dùng</span>
                        </a>
                    </li>
                    <li *ngIf="item.code === 'PHAN_QUYEN' && item.isAll ===
                        true">
                        <a [routerLink]="['/decen']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-archive"></i>&nbsp;
                            <span>Nhóm quyền</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- Giao dich -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('transaction')"
                *ngIf="objRolesMatch.offGiaoDich === false">
                <i class="fa fa-clone"></i>&nbsp;
                <span>Giao dịch</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'transaction'">
                <ul class="submenu" *ngFor="let giaodich of
                    objRolesMatch.giaoDich">
                    <li *ngIf="giaodich.code === 'NGH_CHUYEN_KHOAN' &&
                        giaodich.isAll === true">
                        <a [routerLink]="['/bank-tranfer']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-university"></i>&nbsp;
                            <span>Ngân hàng chuyển khoản</span>
                        </a>
                    </li>
                    <li *ngIf="giaodich.code === 'NHA_CC_DICH_VU' &&
                        giaodich.isAll === true">
                        <a [routerLink]="['/bill-service']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-home"></i>&nbsp;
                            <span>Nhà cung cấp dịch vụ TT</span>
                        </a>
                    </li>
                    <li *ngIf="giaodich.code === 'CHI_NHANH' && giaodich.isAll
                        === true">
                        <a [routerLink]="['/branch']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-cubes"></i>&nbsp;
                            <span>Chi nhánh</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- end -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('merchant')"
                *ngIf="objRolesMatch.offKhachHang === false">
                <i class="fa fa-user"></i>&nbsp;
                <span>Khách hàng</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'merchant'">
                <ul class="submenu" *ngFor="let khachhang of
                    objRolesMatch.khachHang">
                    <li *ngIf="khachhang.code === 'GOI_SP' && khachhang.isAll
                        === true">
                        <a [routerLink]="['/package']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-archive"></i>&nbsp;
                            <span>Gói sản phẩm</span>
                        </a>
                    </li> 
                    <li *ngIf="khachhang.code === 'KHUYEN_MAI' &&
                        khachhang.isAll === true">
                        <a [routerLink]="['/promotion']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>Khuyến mãi/ ưu đãi</span>
                        </a>
                    </li>
                    <li *ngIf="khachhang.code === 'DV_KH_DK' && khachhang.isAll
                        === true">
                        <a [routerLink]="['/registered-service']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-cogs"></i>&nbsp;
                            <span>Dịch vụ đã đăng ký</span>
                        </a>
                    </li>
                    <li *ngIf="khachhang.code === 'TT_KH' && khachhang.isAll
                        === true">
                        <a [routerLink]="['/user/user-profile']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-cogs"></i>&nbsp;
                            <span>Thông tin khách hàng</span>
                        </a>
                    </li>
                    <li *ngIf="khachhang.code === 'QR_SERVICE' && khachhang.isAll === true">
                        <a [routerLink]="['/qr-services']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fab fa-servicestack"></i>&nbsp;
                            <span>Dịch vụ thanh toán</span>
                        </a>
                    </li>
                    <li *ngIf="khachhang.code === 'QR_COUPON' && khachhang.isAll === true">
                        <a [routerLink]="['/qr-coupons']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fab fa-servicestack"></i>&nbsp;
                            <span>Dịch vụ thanh toán giảm giá</span>
                        </a>
                    </li>
                    <li *ngIf="khachhang.code === 'QR_MERCHANT' && khachhang.isAll === true">
                        <a [routerLink]="['/qr-merchants']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fab fa-servicestack"></i>&nbsp;
                            <span>Nhà cung cấp dịch vụ QR</span>
                        </a>
                    </li>
                    <li *ngIf="khachhang.code === 'INVITE' && khachhang.isAll === true">
                        <a [routerLink]="['/invite-friends']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-users"></i>&nbsp;
                            <span>Giới thiệu bạn bè</span>
                        </a>
                    </li>
                    <li *ngIf="khachhang.code === 'NOTIFY_USER' && khachhang.isAll === true">
                        <a [routerLink]="['/notifications']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-bell"></i>&nbsp;
                            <span>Thông báo người dùng</span>
                        </a>
                    </li>
                    <li *ngIf="khachhang.code === 'P_PROMO' && khachhang.isAll === true">
                        <a [routerLink]="['/partner-promotion']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-archive"></i>&nbsp;
                            <span>Đối tác tham gia ưu đãi</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('mschools')"
                *ngIf="true">
                <i class="fa fa-user"></i>&nbsp;
                <span>Học phí</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'mschools'">
                <ul class="submenu" *ngFor="let hocPhi of
                objRolesMatch.hocPhi">
                    <li *ngIf="hocPhi.code === 'HP_COST' && hocPhi.isAll === true">
                        <a [routerLink]="['/hpcosts']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>Phí thanh toán</span>
                        </a>
                    </li>
                    <li *ngIf="hocPhi.code === 'HP_MANAGER' && hocPhi.isAll === true">
                        <a [routerLink]="['/uploadtuition']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>Quản lý học phí</span>
                        </a>
                    </li>
                    <li *ngIf="hocPhi.code === 'HP_SCHOOL' && hocPhi.isAll === true">
                        <a [routerLink]="['/schools']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>Trường học</span>
                        </a>
                    </li>
                    <li *ngIf="hocPhi.code === 'HP_FACULTY' && hocPhi.isAll === true">
                        <a [routerLink]="['/faculties']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>Khoa</span>
                        </a>
                    </li> 
                    <li *ngIf="hocPhi.code === 'HP_CLASS' && hocPhi.isAll === true">
                        <a [routerLink]="['/clazz']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>Lớp học</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('parameters')" *ngIf="objRolesMatch.offThamSo === false">
                <i class="fa fa-wrench"></i>&nbsp;
                <span>Tham số</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'parameters'">
                <ul class="submenu" *ngFor="let thamso of objRolesMatch.thamSo">
                    <li *ngIf="thamso.code === 'HINH_THE' && thamso.isAll === true">
                        <a [routerLink]="['/pay-card']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-paperclip"></i>&nbsp;
                            <span>Sản phẩm thẻ (hình ảnh)</span>
                        </a>
                    </li>
                    <li *ngIf="thamso.code === 'HINH_THE' && thamso.isAll === true">
                        <a [routerLink]="['/image-paycard']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;
                            <span>Hình ảnh thẻ</span>
                        </a>
                    </li>
                    <li *ngIf="thamso.code === 'SO_TONG_DAI' && thamso.isAll ===
                        true">
                        <a [routerLink]="['/telecom']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-eye"></i>&nbsp;
                            <span>Số tổng đài</span>
                        </a>
                    </li>
                    <li *ngIf="thamso.code === 'NOTIFY' && thamso.isAll ===
                        true">
                        <a [routerLink]="['/notify']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-info"></i>&nbsp;
                            <span>Notify (in App)</span>
                        </a>
                    </li>
                    <li *ngIf="thamso.code === 'CRONJOB' && thamso.isAll ===
                        true">
                        <a [routerLink]="['/config-cronjob']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span>Cấu hình Schedule</span>
                        </a>
                    </li>
                    <!-- version-app-lzi -->
                    <li *ngIf="thamso.code === 'VERSION_APP' && thamso.isAll ===
                        true">
                        <a [routerLink]="['/version-app-lzi']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fas fa-mobile"></i>&nbsp;
                            <span>Version App lzi</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('research')" *ngIf="objRolesMatch.offTraCuu === false">
                <i class="fa fa-search"></i>&nbsp;
                <span>Tra cứu</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'research'">
                <ul class="submenu" *ngFor="let tracuu of objRolesMatch.traCuu">
                    <li *ngIf="tracuu.code === 'DIEU_KHOAN' && tracuu.isAll ===
                        true">
                        <a [routerLink]="['/provision']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-bullhorn"></i>&nbsp;
                            <span>Điều khoản sử dụng</span>
                        </a>
                    </li>
                    <li *ngIf="tracuu.code === 'THANH_PHO' && tracuu.isAll ===
                        true">
                        <a [routerLink]="['/province']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-building"></i>&nbsp;
                            <span>Tỉnh /thành phố</span>
                        </a>
                    </li>
                    <li *ngIf="tracuu.code === 'MANG_LUOI_CN' && tracuu.isAll
                        === true">
                        <!-- Giao diện tổ hợp giữa chi nhánh, pgd -> điểm giao dịch -->
                        <a [routerLink]="['/transaction-room']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-plug"></i>&nbsp;
                            <span>Mạng lưới chi nhánh, PGD</span>
                        </a>
                    </li>
                   
                    <li *ngIf="tracuu.code === 'TT_QA' && tracuu.isAll ===
                        true">
                        <a [routerLink]="['/qas-info']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-gg"></i>&nbsp;
                            <span>Thông tin Q&As</span>
                        </a>
                    </li>
                    <li *ngIf="tracuu.code === 'GOP_Y_LOI' && tracuu.isAll ===
                        true">
                        <a [routerLink]="['/suggesstions-error']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-bug"></i>&nbsp;
                            <span>Góp ý - lỗi</span>
                        </a>
                    </li>
                    <li *ngIf="tracuu.code === 'BANNER' && tracuu.isAll ===
                        true">
                        <a [routerLink]="['/banner']" [routerLinkActive]="['router-link-active']"
                            class="list-group-item">
                            <i class="fa fa-paperclip"></i>&nbsp;
                            <span>Banner</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{ collapsed: collapsed }" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>Thu gọn (v1.0.0)</span>
    </div>
</nav>