<div>
    <app-page-header [heading]="'Phân quyền nhóm quyền'">
    </app-page-header>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-3 col-form-label">Tên quyền:</label>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <input 
                                formControlName="roleName"
                                itrim
                                class="form-control col-lg-12"
                                placeholder="Tên quyền"
                                [ngClass]="{ 'is-invalid': submitted && Form.roleName.errors }"
                            >
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                            </div>
                            <div *ngIf="submitted && Form.roleName.errors" class="invalid-feedback">
                                <div *ngIf="Form.roleName.errors.required">Tên quyền là bắt buộc</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-10">
        <div *ngIf="isProcessLoad == 1" class="text-center col-md-12">
            <span><i class="fa fa-spin fa-spinner font-30"></i></span>
        </div>
        <div *ngIf="totalSearch == 0 && isProcessLoad == 0" class="text-center col-md-12">
            <span>Không tìm thấy kết quả</span>
        </div>
        <div class="col-md-12" *ngIf="totalSearch > 0">
            <div class="col-md-10 offset-md-1 mt-3">
                <b style="margin-bottom: 10px; float: left; width: 100%;">Kết quả:</b>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Tên quyền</th>
                            <th>Mô tả</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{obj.roleName}}</th>
                            <td>
                                {{obj.description}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 mt-3 custom-check table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let role of listRoles">
                            <th scope="row">
                                <div class="custom-control form-control-lg custom-checkbox" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <input 
                                        type="checkbox" class="custom-control-input" 
                                        id="{{role.code}}" 
                                        type="checkbox" 
                                        [checked]="role.isAll"
                                        (click)="clickFullRoles($event)"
                                    >
                                    <label class="custom-control-label" style="font-size: 17px" for="{{role.code}}"><b class="text-blue">{{ role.name }}</b></label>
                                </div>
                            </th>
                            <td>
                                <div class="custom-control form-control-lg custom-checkbox">
                                    <input 
                                        type="checkbox" class="custom-control-input" 
                                        id="add_{{role.code}}" 
                                        [checked]="role.isC"
                                        (click)="clickSetRole($event, 1)"
                                        type="checkbox" 
                                    >
                                    <label class="custom-control-label" style="font-size: 17px" for="add_{{role.code}}">CREATE {{ role.code }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control form-control-lg custom-checkbox">
                                    <input 
                                        class="custom-control-input" 
                                        id="read_{{role.code}}" 
                                        type="checkbox"
                                        (click)="clickSetRole($event, 2)"
                                        [checked]="role.isR"
                                    >
                                    <label class="custom-control-label" style="font-size: 17px" for="read_{{role.code}}">READ {{ role.code }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control form-control-lg custom-checkbox">
                                    <input 
                                        class="custom-control-input" 
                                        id="update_{{role.code}}" 
                                        type="checkbox"
                                        (click)="clickSetRole($event, 3)"
                                        [checked]="role.isU"
                                    >
                                    <label class="custom-control-label" style="font-size: 17px" for="update_{{role.code}}">UPDATE {{ role.code }}</label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control form-control-lg custom-checkbox">
                                    <input 
                                        class="custom-control-input" 
                                        id="delete_{{role.code}}" 
                                        type="checkbox"
                                        (click)="clickSetRole($event, 4)"
                                        [checked]="role.isD"
                                    >
                                    <label class="custom-control-label" style="font-size: 17px" for="delete_{{role.code}}">DELETE {{ role.code }}</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row text-center"  *ngIf="totalSearch > 0">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="onSubmitRole()">Lưu lại</button>
        </div>
    </div>
    
</div>