<div>
    <app-page-header [heading]="'Cấu hình Schedule - Job'">
    </app-page-header>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <cron-editor 
                [(cron)]="cronExpression"
                [options]="cronOptions"
                [disabled]="isCronDisabled"
            ></cron-editor>
            <div class="form-group row">
                <label for="search" class="col-sm-3 col-form-label">Kết quả giá trị:</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" [attr.disabled]="true" class="form-control" [value]="cronExpression">
                        <div class="input-group-btn">
                            <button class="btn btn-default" ngxClipboard [cbContent]="cronExpression">
                                Sao chép
                            </button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-md-12">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-3 col-form-label">Thời gian bắt đầu:</label>
                    <div class="col-sm-6">
                        <div class="">
                            <input 
                                formControlName="timeStart"
                                itrim
                                class="form-control col-lg-12"
                                placeholder="Thời gian bắt đầu"
                                [ngClass]="{ 'is-invalid': submitted && Form.timeStart.errors }"
                            >
                            <!-- <div *ngIf="submitted && Form.timeStart.errors" class="invalid-feedback">
                                <div *ngIf="Form.timeStart.errors.required">Thời gian bắt đầu là bắt buộc</div>
                                <div *ngIf="Form.timeStart.hasError('whitespace')">Thời gian bắt đầu là không hợp lệ</div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-3 col-form-label">Thời gian kết thúc:</label>
                    <div class="col-sm-6">
                        <div class="">
                            <input 
                                formControlName="timeEnd"
                                itrim
                                class="form-control col-lg-12"
                                placeholder="Thời gian kết thúc"
                                [ngClass]="{ 'is-invalid': submitted && Form.timeEnd.errors }"
                            >
                            <!-- <div *ngIf="submitted && Form.timeEnd.errors" class="invalid-feedback">
                                <div *ngIf="Form.timeEnd.errors.required">Thời gian kết thúc là bắt buộc</div>
                                <div *ngIf="Form.timeEnd.hasError('whitespace')">Thời gian kết thúc là không hợp lệ</div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 " style="text-align: center;">
                        <button class="btn btn-success mr-3"><i class="fa
                                fa-save"></i>&nbsp;Lưu lại</button>
                        <!-- <button class="btn btn-light" (click)="resetForm()"><i
                                class="fa fa-close"></i>&nbsp;Huỷ</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>