<div>
    <app-page-header 
        [heading]="'Danh sách Ngân hàng chuyển khoản'"
        [url_heading]="'/bank-tranfer'">
    </app-page-header>
    <!-- {{'Admin_function.DS_province' | translate}} -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã ngân hàng chuyển khoản:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    itrim type="text" id="search" [(ngModel)]="re_search.bankCode"
                    (keydown)="keyDownFunction($event)"
                    placeholder="Mã ngân hàng chuyển khoản">
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Trạng thái:</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="re_search.status">
                        <option *ngFor="let status of listStatus" [value]="status.code" selected="selected">{{status.name}}</option>

                    </select>
                </div>
                
            </div>
        </div> 
        <div class="col-md-12 text-center">
            <button class="btn btn-primary mr-3" (click)="onSearch(re_search)">
                <i class="fa fa-search"></i>&nbsp;Tìm kiếm
            </button>
            <a class="btn btn-warning mr-3" [routerLink]="['/bank-tranfer/create']">
                <i class="fa fa-plus"></i>&nbsp;Thêm mới
            </a>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                    <select class="form-control col-sm-2" [(ngModel)]="re_search.size" (change)="changePageSize()">
                        <option *ngFor="let page_size of listPageSize" [value]="page_size">{{page_size}}</option>
                    </select> &nbsp;
                    <label for="search" class=" col-form-label">Bản ghi</label>  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive Flipped">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                    <th scope="col">STT</th>
                    <th scope="col"
                        [class.active]="order === 'bankCode'"
                        (click)="setOrder('bankCode')"
                    >
                        Mã ngân hàng chuyển khoản
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </th>
                    <th scope="col"
                        [class.active]="order === 'bankName'"
                        (click)="setOrder('bankName')"
                    >
                        Tên ngân hàng chuyển khoản
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </th>
                    <th scope="col">
                       Logo
                    </th>
                    <th scope="col"
                        [class.active]="order === 'status'"
                        (click)="setOrder('status')"
                    >
                        Trạng thái
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </th>
                    <th scope="col">Thao tác</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isProcessLoad == 1" class="text-center">
                        <td colspan=6><i class="fa fa-spin fa-spinner font-30"></i></td>
                    </tr>
                    <tr *ngIf="totalSearch == 0 && isProcessLoad == 0" class="text-center">
                        <td colspan=6>Không tìm thấy kết quả</td>
                    </tr>
                    <tr *ngFor ="let data of listData | orderBy: order:reverse:'case-insensitive'; let i = index">
                        
                        <th scope="row">
                            {{i+1}}
                        </th>
                        <td>{{data?.bankCode}}</td>
                        <td>{{data?.bankName}}</td>
                        <td> 
                            <img src="{{data?.url_img}}" width="50px" height="50px" alt="{{data?.bankName}}" >
                        </td>
                        <td>
                            <span *ngIf="data.status == 'W'" class="badge badge-warning">Chờ duyệt</span>
                            <span *ngIf="data.status == 'A'" class="badge badge-success">Hoạt động(đã duyệt)</span>
                            <span *ngIf="data.status == 'D'" class="badge badge-danger">Đã xóa(hủy duyệt)</span>
 
                        </td>
                        <td>
                            <a data-toggle="tool-tip" title="Chỉnh sửa" class="mr2- cursor-pointer text-blue" routerLink="/bank-tranfer/edit/{{data.bankCode}}">
                                <i class="fa fa-edit"></i>
                            </a>

                            <span data-toggle="tool-tip" title="Hủy duyệt, ngừng hoạt động" class="mr-2 cursor-pointer text-warning"  *ngIf="data.status == 'A'">
                                <i class="fa fa-recycle" (click)="deActiveItem(1, i, data.bankCode)"></i>
                            </span>
                            <span data-toggle="tool-tip" title="Phê duyệt" class="mr-2 cursor-pointer text-warning"  *ngIf="data.status == 'W'">
                                <i class="fa fa-recycle" (click)="ActiveItem(1, i, data.bankCode)"></i>
                            </span>
                            <span data-toggle="tool-tip" title="Xóa" class="mr-2 cursor-pointer text-danger">
                                <i class="fa fa-trash" (click)="deleteItem(1, i, data.bankCode)"></i>
                            </span>
                            
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div> 
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <ngb-pagination
                *ngIf="totalSearch > 0 && totalSearch > re_search.size"
                [collectionSize]="totalSearch"
                [pageSize]="re_search.size"
                [(page)]="re_search.page"
                [boundaryLinks]="true"
                [maxSize]="10"
                (pageChange)="loadPage($event)"
            ></ngb-pagination>
        </div>
    </div>
    <!-- /.row -->
</div>
