<div>
    <app-page-header [heading]="'Thông tin khách hàng'">
    </app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tên đăng nhập:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    (keydown)="keyDownFunction($event)"
                    itrim type="text" id="search" [(ngModel)]="re_search.usrid"
                    placeholder="Tên đăng nhập">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">CMND/HC:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    (keydown)="keyDownFunction($event)"
                    itrim type="text" id="search" [(ngModel)]="re_search.idno"
                    placeholder="CMND/HC">
                </div>
            </div>
            
            
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">CIF:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    (keydown)="keyDownFunction($event)"
                    itrim type="text" id="search" [(ngModel)]="re_search.cifgrp"
                    placeholder="CIF">
                </div>
            </div>

            
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary mr-3" (click)="onSearch(re_search)">
                <i class="fa fa-search"></i>&nbsp;Tìm kiếm
            </button>
            <button class="btn btn-success" (click)="exportExcel()">
                <i *ngIf="isProcessLoadExcel === 1"
                    class="fa fa-spinner font-20"></i>
                <i  *ngIf="isProcessLoadExcel === 0" class="fa fa-file"></i>&nbsp;Xuất excel
            </button>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label">Hiển thị:</label>
                    <select 
                        class="form-control col-sm-1" 
                        [(ngModel)]="re_search.size" 
                        (ngModelChange)="changeSize($event)"
                    >
                        <option *ngFor="let page_size of listPageSize" [value]="page_size" checked>{{page_size}}</option>
                    </select> &nbsp;
                    <label for="search" class=" col-form-label">Bản ghi</label>  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">CIF</th>
                        <th scope="col">Tên đăng nhập</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">CMND/HC</th>
                        <th scope="col">Nhóm khách hàng</th>
                        <th scope="col">Gói sản phẩm</th>
                        <th scope="col">CT Ưu đãi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isProcessLoad == 1" class="text-center">
                        <td colspan=8><i class="fa fa-spin fa-spinner font-30"></i></td>
                    </tr>
                    <tr *ngIf="totalSearch == 0 && isProcessLoad == 0" class="text-center">
                        <td colspan=8>Không tìm thấy kết quả</td>
                    </tr>
                    <tr *ngFor ="let data of listData; let i = index" (click)="openModalUser(data)" style="cursor: pointer">
                        
                        <th scope="row">
                            <!-- {{i+1 + (search.page>1?(search.page-1)*search.size:0)}} -->
                            {{i + 1}}
                        </th>
                        <td>{{data.cifgrp}}</td>

                        <td>{{data.usrid}}</td>
                        <td>{{data?.usrfname}}</td>
                        <td>{{data?.datCfmast?.idno}}</td>
                        <td>{{data?.crtusrid}}</td>
                        <td>{{data?.function?.prdName}}</td> 
                        <td>{{data?.function?.promotionName}}</td>                    
                    </tr>
                    
                </tbody>
            </table>
        </div> 
    </div>  
    <div class="row mt-3">
        <div class="col-md-12">
            <ngb-pagination *ngIf="totalSearch > 0 && totalSearch > re_search.size"
                [collectionSize]="totalSearch" [pageSize]="re_search.size" [(page)]="re_search.page"
                [boundaryLinks]="true"
                [maxSize]="10" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
<ng-template #modalUser let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Chi tiết thông tin khách hàng</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-t-0">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">CIF:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [(ngModel)]="passData.cifgrp"
                    [attr.disabled]="true"
                    itrim type="text" id="search"
                    placeholder="CIF">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">CMND/HC:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [(ngModel)]="passData.datCfmast.idno"
                    [attr.disabled]="true"
                    itrim type="text" id="search"
                    placeholder="CMND/HC">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Tên đăng nhập:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [(ngModel)]="passData.usrid"
                    [attr.disabled]="true"
                    itrim type="text" id="search"
                    placeholder="Tên đăng nhập">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Họ tên KH:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [(ngModel)]="passData.usrfname"
                    [attr.disabled]="true"
                    itrim type="text" id="search"
                    placeholder="Họ tên KH">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Gói sản phẩm:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [(ngModel)]="passData.function.prdName"
                    [attr.disabled]="true"
                    itrim type="text" id="search"
                    placeholder="Gói sản phẩm">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã gói sản phẩm:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [(ngModel)]="passData.function.tranType"
                    [attr.disabled]="true"
                    itrim type="text" id="search"
                    placeholder="Mã gói sản phẩm">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã gói sản phẩm:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [attr.disabled]="true"
                    [(ngModel)]="passData.function.tranType"
                    itrim type="text" id="search"
                    placeholder="Mã gói sản phẩm">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">Mã Ưu đãi:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [attr.disabled]="true"
                    [(ngModel)]="passData.function.promotion"
                    itrim type="text" id="search"
                    placeholder="Mã Ưu đãi">
                </div>
            </div>
            <div class="form-group row">
                <label for="search" class="col-sm-4 col-form-label">CT ưu đãi:</label>
                <div class="col-sm-6">
                    <input class="form-control col-lg-12"
                    [attr.disabled]="true"
                    [(ngModel)]="passData.function.promotionName"
                    itrim type="text" id="search"
                    placeholder="CT ưu đãi">
                </div>
            </div>
        </div>
    </div>
</ng-template>