<div>
    <app-page-header
        [heading]="'Danh sách ngân hàng chuyển khoản'"
        [heading_second]="'Thêm mới ngân hàng chuyển khoản'"
        [url_heading]="'/bank-tranfer'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="provinceForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Mã ngân
                        hàng chuyển khoản(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="bankCode"
                            class="form-control col-lg-12"
                            placeholder="Mã ngân hàng chuyển khoản"
                            [ngClass]="{ 'is-invalid': submitted &&
                            Form.bankCode.errors }"
                            />
                        <div *ngIf="submitted && Form.bankCode.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.bankCode.errors.required">Mã ngân
                                hàng chuyển khoản là bắt buộc</div>
                            <div *ngIf="Form.bankCode.errors.pattern">Mã ngân
                                hàng chuyển khoản là không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên ngân
                        hàng chuyển khoản(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="bankName"
                            class="form-control col-lg-12"
                            placeholder="Tên ngân hàng chuyển khoản"
                            [ngClass]="{ 'is-invalid': submitted &&
                            Form.bankName.errors }"
                            />
                        <div *ngIf="submitted && Form.bankName.errors"
                            class="invalid-feedback">
                            <div *ngIf="Form.bankName.errors.required">Tên ngân
                                hàng chuyển khoản là bắt buộc</div>
                            <div *ngIf="Form.bankName.errors.pattern">Tên ngân
                                hàng chuyển khoản là không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Shtname:</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="shtname"
                            class="form-control col-lg-12"
                            placeholder="Shtname"
                            />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Bin:</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="bin"
                            class="form-control col-lg-12"
                            placeholder="Bin"
                            />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Chuyển khoản LNH (gt):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="citad_gt"
                            class="form-control col-lg-12"
                            placeholder="Chuyển khoản LNH gt"
                            />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Chuyển khoản LNH (tt):</label>
                    <div class="col-sm-7">
                        <input
                            formControlName="citad_tt"
                            class="form-control col-lg-12"
                            placeholder="Chuyển khoản LNH tt"
                            />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3"><i class="fa
                                fa-save"></i>&nbsp;Lưu lại</button>
                        <button class="btn btn-light" (click)="resetForm()"><i
                                class="fa fa-close"></i>&nbsp;Huỷ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #uploadMultiFile let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="icon-plus"></i>
            Upload nhiều bản ghi
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Crossclick')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h5>Bước 1:</h5>
                <span>Download template mẫu: <a
                        href="assets/template-excel/Template_Branch.xlsx"><i>tại
                            đây</i></a></span>
            </div>
            <div class="col-md-12 mt-3">
                <h5>Bước 2:</h5>
                <div>
                    <p-fileUpload
                        #fubauto
                        name="Excel"
                        accept=".csv,.xlsx,.xls"
                        customUpload="true"
                        mode="basic"
                        maxFileSize="1000000"
                        (uploadHandler)="onUploadFile($event)"
                        auto="true"
                        iconLabel="fa-cloud-upload"
                        chooseLabel="Chọn tệp tin"></p-fileUpload>
                    <p *ngIf="fileExcel.name" class="m-b-0 text-primary">{{
                        fileExcel.name }}</p>
                </div>
            </div>
            <div class="col-md-12 mt-3 text-right">
                <button [disabled]="!fileExcel.name || temp.loading"
                    (click)="onUploadServer()" class="btn btn-primary"
                    type="submit">
                    <i class="fa fa-save"></i> Cập nhật
                    <i *ngIf="temp.loading" class="fa fa-spin fa-spinner"></i>
                </button>
            </div>
        </div>
    </div>
</ng-template>
