<div>
    <app-page-header 
        [heading]="'Danh sách sản phẩm'" 
        [heading_second]="'Thêm mới sản phẩm'" 
        [url_heading]="'/product'">
    </app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên sản phẩm - VN(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="nameProductVN"
                            class="form-control col-lg-12"
                            placeholder="Tên sản phẩm - VN"
                            [ngClass]="{ 'is-invalid': submitted && Form.nameProductVN.errors }"
                        >
                        <div *ngIf="submitted && Form.nameProductVN.errors" class="invalid-feedback">
                            <div *ngIf="Form.nameProductVN.errors.required">Tên sản phẩm VN là bắt buộc</div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="search" class="col-sm-4 col-form-label">Tên sản phẩm - EN(<span class="text-danger">*</span>):</label>
                    <div class="col-sm-7">
                        <input 
                            formControlName="nameProductEN"
                            class="form-control col-lg-12"
                            placeholder="Tên sản phẩm - EN"
                            [ngClass]="{ 'is-invalid': submitted && Form.nameProductEN.errors }"
                        >
                        <div *ngIf="submitted && Form.nameProductEN.errors" class="invalid-feedback">
                            <div *ngIf="Form.nameProductEN.errors.required">Tên sản phẩm EN là bắt buộc</div>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-success mr-3">
                            <i class="fa fa-save"></i>&nbsp;Lưu lại
                        </button>
                        <button class="btn btn-light" (click)="resetForm()">
                            <i class="fa fa-close"></i>&nbsp;Huỷ
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
